<% content_for :title do %>
About Us
<% end %>
<% content_for :description do %>
Join us for lunch, dinner, or a late snack at Ginny Lane Bar &amp; Grill, at The Wharf, in Orange Beach.
<% end %>

<div class="page-content">
  <div class="fancy-heading center"><h1>Welcome to Ginny Lane</h1></div>
  
  <div class="container">
    <div class="row block">
      <div class="text-hlf">
        <p class="sig">Your appetite might lead you here. But our sensational food, breathtaking view, and exciting atmosphere will keep you coming back!</p>
        
        <p>At Ginny Lane, we have always been known for our fun, family-friendly atmosphere, and our selection of fresh, local seafood and Certified Black Angus Beef. Ginny Lane has been a must visit for over a decade, with daily live music and a beautiful patio overlooking the intracoastal waterway. We have an impressive list of weekly specials, and a kid's menu that is available all day. In addition to our delicious food, we also offer quite a selection of craft brews and cocktails, creative martinis, and wine.</p>
        
        <p>Whether it's date night, a family outing, or a reunion amongst friends, Ginny Lane Bar and Grill is the perfect spot to indulge in some mouthwatering food and cocktails, while enjoying a fun and laid-back atmosphere.</p>
      </div>

      <div class="image-hlf"><%=image_tag('GL.jpg', alt: 'Ginny Lane Bar and Grill, Orange Beach', class: 'img-responsive') %></div>

    </div>
  </div>
</div>
<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>