<% content_for :title do %>
About Us
<% end %>
<% content_for :description do %>
Join us for lunch, dinner, or a late snack at Ginny Lane Bar &amp; Grill, at The Wharf, in Orange Beach.
<% end %>

<div class="page-content">
    <div class="container">
        <div class="fancy-heading center">
            <h1>Welcome to Ginny Lane</h1>
        </div>

        <div class="row">
            <div class="col-md-6 col-xs-12 mobile-hide">
                <%=image_tag( 'GL.jpg', alt: 'Ginny Lane Bar and Grill, Orange Beach', class: 'img-responsive') %>
            </div>

            <div class="col-md-6 col-xs-12">
                <section class="fancy-heading left">
                    <h3>About Us</h3>
                </section>
                <p>
                    At Ginny Lane, we have always been known for our fun, family-friendly atmosphere, and our selection of fresh, local seafood and Certified Black Angus Beef. Now, you get all of the things you love about Ginny Lane, plus a beautiful view, at our new, waterfront location.
                </p>

                <p>
                    Ginny Lane is open 7 days a week, at 11 a.m. We have an impressive list of weekly specials, and a kid's menu that is available all day. In addition to our delicious food, we also offer quite a selection of craft brews and cocktails, creative martinis, &amp; wine.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>



