<% content_for :title do %>
Bar Specials
<% end %>
<% content_for :description do %>
Keep up with Ginny Lane's specials, &amp; never miss one of our great deals.
<% end %>


<!-- FOOTBALL SEASON STYLE DIV. DELETE class AFTER SEASON FOR RESET -->
<div class="fb-specials">
    <section class="page-title-bar">
    	<div class="col-md-6 col-md-offset-3 col-xs-12">
    		<div class="heading-box">
    			<h2>Ginny Lane</h2>
    	        <h1>Specials</h1>
    	    </div>
        </div>
    </section>

    <div class="page-content">
        <div class="container">
            <div class="col-md fb-hlf">
                <h3>Football Specials</h3>
                <div class="sched"><p>Monday-Friday: 3pm-6pm &nbsp; | &nbsp; <br>Saturday-Sunday: all day</p></div>

                <div id="accordeon">
                    <div class="cbp-item">
                        <div class="cbp-caption bar">
                          <div class="cbp-caption-defaultWrap">
                            <h4>Bar Specials</h4>
                          </div>

                          <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <ul class="barspecials">
                                    <li>Miller Lite Draft ... <b>$3</b></li>
                                    <li>Mich Ultra Can ... <b>$2</b></li>
                                    <li>Ginny Lane Adult Strawberry Lemonade ... <b>$5</b></li>
                                    <li>House Wine ... <b>$4</b></li>
                                    <li>Well Drinks ... <b>$4</b></li>
                                    <li>Mango Rum with Red Bull Coconut Berry Edition ... <b>$5</b></li>
                                </ul>
                            </div>
                          </div>
                        </div>

                        <div class="cbp-caption food">
                          <div class="cbp-caption-defaultWrap">
                            <h4>Food Specials</h4>
                          </div>

                          <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-body">
                                <ul class="barspecials">
                                    <li>10 Wings - BBQ/Buffalo/Sweet Chili/Garlic Butter/Habañero ... <b>$12</b></li>
                                    <li>5 Coconut Shrimp with sweet chili ... <b>$6</b></li>
                                    <li>Chips &amp; Queso with ground beef ... <b>$4</b></li>
                                    <li>Buffalo Chicken Dip - side of chips ... <b>$7</b></li>
                                    <li>Half Order of Nachos - beef, lettuce, pico de gallo, jalapeños, olives, sour cream, guacamole ... <b>$5</b></li>
                                    <li>2 Mini Cheeseburgers with Pickles ... <b>$8</b></li>
                                </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-md daily-hlf">
                <div class="lunch-mart food-menus">
                    <div class="fancy-heading ">
                        <h3 id="penny">Daily Penny Cocktails</h3>

                        <p class="food-menus">*<b>one</b> penny cocktail per person, per day</p>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <h4>Cosmo on the Rocks</h4>
                        <p>Vodka, Cranberry, Triple Sec, Fresh Lime</p>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <h4>The Sunset</h4>
                        <p>Run &amp; Pineapple</p>
                    </div>

                    <div class="col-md-12 col-xs-12">
                        <h4>Blue Wave</h4>
                        <p>Tequila, Blue Curacao, Sour Mix, Salt Rim</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
