<% content_for :title do %>
Brunch Menu
<% end %>
<% content_for :description do %>
Come enjoy an amazing brunch at Ginny Lane at The Wharf! Your first mimosa is free, and you can't beat the view!
<% end %>

<div id="page-title" class="pt-bkg-image image-lunch">
    <div class="title-container">
        <section class="fancy-heading center">
            <h1>Sunday Champagne Brunch Menu</h1>
            <h2>10am - 3pm</h2>
        </section>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <!-- <div class="food-menus">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Southern Style Eggs Benedict</h4>
                        <p>
                            Poached eggs, Cheddar Grits, Applewood Smoked Bacon, Green Beans, Hollandaise Sauce
                            <br><b>$12</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Cajun Omelet</h4>
                        <p>
                            Andouille Sausage, Crawfish Tails, Bell Peppers, Onions, Spinach, Cheddar Cheese
                            <br><b>$12</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Biscuits and Gravy</h4>
                        <p>
                            Pair of Biscuits, topped with Sausage Gravy, Cheddar Grits, Green Beans
                            <br><b>$10</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Steak n' Eggs*</h4>
                        <p>
                            Grilled  Steak, Two Eggs, Biscuit, Potato Hash, Green Beans, Demi Glace
                            <br><b>$14</b>
                        </p>
                    </div>
                </div>

                 <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Southern Comfort</h4>
                        <p>
                            Sausage Gravy and Biscuit, Two Eggs-Scrambled, Conecuh Sausage Links, Cheddar Grits
                            <br><b>$14</b>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="service-box-2">
                        <h4>Shrimp &amp; Grits</h4>
                        <p>
                            Sauteed Gulf shrimp, bacon, tomatoes, Thyme, Rosemary, Green Onions &amp; Shallots, Garlic, &amp; a Chardonnay Cream Sauce, served over Cheddar Grits.
                            <br><b>$12</b>
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <%= link_to '/lunch-menu', class: 'btn red' do %>
                        Click Here to View Our Lunch Menu<br> for Regular Menu Items
                    <% end %>
                </div>
            </div>
        </div> -->

        <div class="tabs">
            <div class="page-content container food-menus">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <div id="accordeon">
                        <div class="cbp-item">
                            <div class="cbp-caption first">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Starters</h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="menu-item">
                                                <h4>Loaded Nachos</h4>
                                                <div class="menu-price">
                                                    <p>$12</p>
                                                </div>
                                                <p>Seasoned Ground Beef, Queso Cheese, Jalapenos, Pico de Gallo, Sour Cream, Black Olives, Lettuce, Guacamole, House Made Tortilla Chips</p>
                                            </div>

                                           <div class="menu-item">
                                             <h4>Peel and Eat Shrimp</h4>
                                             <div class="menu-price">
                                                 <p>1/2lb - $12 &nbsp; | &nbsp; 1lb - $18</p>
                                             </div>
                                             <p>Steamed Shell-on Shrimp. With Old Bay, Cocktail, and Hot Butter</p>
                                           </div>

                                           <div class="menu-item">
                                             <h4>Cheese Plate</h4>
                                             <div class="menu-price">
                                                 <p>$16</p>
                                             </div>
                                             <p>Gorgonzola, Honey Drizzled Brie, Smoked Gouda, and Manchego Cheese. Served with Fresh Fruit, Spiced Pecans and Crackers</p>
                                           </div>
                                         </div>

                                        <div class="col-md-6 col-xs-12">
                                          <div class="menu-item">
                                            <h4>Fried Green Tomatoes and Blackend Shrimp</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>Blackened Shrimp over Fried Green tomatoes topped with Creole Remolade </p>
                                          </div>

                                          <div class="menu-item">
                                            <h4>Spinach Artichoke Dip</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>Fresh Spinach and Artichokes, Cream Cheese, Sour Cream and Green Onions. Served with House Made Tortilla Chips</p>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-caption second">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Oysters</h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">
                                        <div class="col-md-4 col-xs-12">
                                          <div class="menu-item">
                                                <h4>Raw on the Half Shell </h4>
                                                <div class="menu-price">
                                                    <p> Order of 12 - $8</p>
                                                </div>
                                                <p>Served with Horseradish and Cocktail Sauce</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                          <div class="menu-item">
                                                <h4>Baked Bacon Cheddar </h4>
                                                <div class="menu-price">
                                                    <p> Order of 8 - $16</p>
                                                </div>
                                                <p>Topped with Bacon, Cheddar, Green Onion and Jalapeno Cream Sauce</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                          <div class="menu-item">
                                                <h4>Baked Garlic Butter</h4>
                                                <div class="menu-price">
                                                    <p>Order of 8 - $16</p>
                                                </div>
                                                <p>Topped with Roasted Garlic Butter, Lemon, and Herbs </p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="col-md-4 col-xs-12">
                                          <div class="menu-item">
                                                <h4>Baked Shrimp Bienville</h4>
                                                <div class="menu-price">
                                                    <p>Order of 8 - $16</p>
                                                </div>
                                                <p>Topped with Peppers, Onion, Shrimp Cream, Mozzarella, Parmesan</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                          <div class="menu-item">
                                                <h4>Baked Cajun Rockerfeller</h4>
                                                <div class="menu-price">
                                                    <p>Order of 8 - $16</p>
                                                </div>
                                                <p>Topped with Spinach,Tazo Ham,Onion and Cajun Seasonings</p>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-xs-12">
                                          <div class="menu-item">
                                                <h4>Baked Sampler</h4>
                                                <div class="menu-price">
                                                    <p>Order of 8 - $16</p>
                                                </div>
                                                <p>Two of each. Baked Bacon Cheddar Oysters, Baked Garlic Butter Oysters, Baked Shrimp Bienville, and Baked Cajun Rockefeller</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-caption third">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Salads and Soups</h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">
                                        <div class="menu-item">
                                            <center>
                                                <p>Add Shrimp: $5 | Add Chicken: $4</p>
                                            </center>
                                        </div>

                                        <div class="col-md-6 col-xs-12">
                                            <div class="menu-item">
                                                <h4>Garden</h4>
                                                <div class="menu-price">
                                                    <p>$6</p>
                                                </div>
                                                <p>Spring Mix, Shaved Carrots, Red Cabbage, Red Onion, Marinated Tomatoes, Mozzarella Cheese, and House Made Croutons</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Caesar</h4>
                                                <div class="menu-price">
                                                    <p>$7</p>
                                                </div>
                                                <p>Romaine Lettuce, Parmesan Cheese, Marinated Tomatoes, House Made Croutons. Tossed in Caesar Dressing.</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Pecan and Pear Salad</h4>
                                                <div class="menu-price">
                                                    <p>$10</p>
                                                </div>
                                                <p>Spring Mix Goat Cheese Crumbles, Candied Pecans, Fresh Strawberries, Pear Slices. Served with Raspberry Vinaigrette</p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-xs-12">
                                            <div class="menu-item">
                                                <h4>Seafood Gumbo</h4>
                                                <div class="menu-price">
                                                    <p>Cup - $7 &nbsp; | &nbsp; Bowl - $10</p>
                                                </div>
                                                <p>Gulf Shrimp, Crawfish, Sausage, Bell Peppers, Tomatoes, Creole Seasoning. Topped with Rice and Green Onion</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Soup of the Day</h4>
                                                <div class="menu-price">
                                                    <p>Cup - $5 &nbsp; | &nbsp; Bowl - $8</p>
                                                </div>
                                                <p>Our Homemade Soup of the Day. Ask Server for details</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-caption brunch">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Brunch Fare</h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">

                                        <div class="col-md-6 col-xs-12">
                                            <div class="menu-item">
                                                <h4>Southern Style Eggs Benedict</h4>
                                                <div class="menu-price">
                                                    <p>$12</p>
                                                </div>
                                                <p>Poached Eggs, Cheddar Grits, Applewood Smoked Bacon, Green Beans, Hollandaise Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Biscuits and Gravy</h4>
                                                <div class="menu-price">
                                                    <p>$10</p>
                                                </div>
                                                <p>Pair of Biscuits topped with Sausage Gravy, Cheddar Grits, Green Beans</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Cajun Omelet</h4>
                                                <div class="menu-price">
                                                    <p>$12</p>
                                                </div>
                                                <p>Andouille Sausage, Crawfish Tails, Bell Peppers, Onions, Spinach, Cheddar Cheese </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Shrimp and Grits</h4>
                                                <div class="menu-price">
                                                    <p>$12</p>
                                                </div>
                                                <p>Sautéed Gulf Shrimp, Tomatoes, Bacon Thyme Rosemary, Green Onions, Shallots Garlic Chardonnay Cream Sauce over Cheddar Grits </p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-xs-12">
                                            <div class="menu-item">
                                                <h4>Steak 'n Eggs</h4>
                                                <div class="menu-price">
                                                    <p>$14</p>
                                                </div>
                                                <p>Grilled Steak, Two Eggs, Biscuit, Potato Hash, Green Beans, Demi Glace</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Southern Comfort</h4>
                                                <div class="menu-price">
                                                    <p>$14</p>
                                                </div>
                                                <p>Sausage Gravy and Biscuit, Two Eggs Scrambled, Link Sausage, Cheddar Grits</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fruit Parfait</h4>
                                                <div class="menu-price">
                                                    <p>$12</p>
                                                </div>
                                                <p>Blueberry Yogurt, Fresh Blueberries,Bananas, Strawberries and Topped with Granola</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-caption fourth">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Lunch Plates</h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="menu-item">
                                                <h4>Shrimp Scampi</h4>
                                                <div class="menu-price">
                                                    <p>$9</p>
                                                </div>
                                                <p>Sautéed Gulf Shrimp in White Wine Butter Garlic Sauce with Asparagus & Tomatoes over Linguini </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fried Shrimp</h4>
                                                <div class="menu-price">
                                                    <p>$9</p>
                                                </div>
                                                <p>Fresh Gulf Shrimp, Cheddar Grits, Green Beans and Creole Remoulade </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Homemade Meatloaf</h4>
                                                <div class="menu-price">
                                                    <p>$9</p>
                                                </div>
                                                <p>Blend of Ground Beef, Mushrooms & Panko Bread Crumbs, Mashed Potatoes, Green Beans. Topped with Onion & Mushroom Gravy </p>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-xs-12">
                                            <div class="menu-item">
                                                <h4>Pecan Encrusted Chicken</h4>
                                                <div class="menu-price">
                                                    <p>$12</p>
                                                </div>
                                                <p>Gouda Smash Reds, Brussel Sprouts. Topped with Lemon Beurre Blanc </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Crab Cake</h4>
                                                <div class="menu-price">
                                                    <p>$12</p>
                                                </div>
                                                <p>Served with White Rice, Green Beans and Tarter</p>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="menu-item text-center">
                                            <p>*Consuming raw or undercooked meats, seafood or shellfish may cause potential health risks.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-caption sandwich">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Sandwiches - $12 </h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">
                                        <div class="menu-item text-center">
                                            <p>*All sandwiches served with fries or coleslaw</p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Fish Tacos</h4>
                                            <p>Blackened Fish, Romaine Lettuce, Pico De Gallo, and Jalapeno Cream Sauce </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Ginny Lane Burger</h4>
                                            <p>Grilled to Order. Topped with Lettuce, Tomato, Onion and Mayonnaise on a Brioche Bun </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Asian Chicken Wrap</h4>
                                            <p>Grilled Chicken, Lettuce, Carrots, Green Onion, Red Cabbage, Crispy Wonton Strips & Mandarin Oranges Tossed With Sesame Vinaigrette </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
