<% content_for :title do %>
Brunch Menu
<% end %>
<% content_for :description do %>
Come enjoy an amazing brunch at Ginny Lane at The Wharf! Classic brunch items, seafood dishes, and a waterfront view you can't beat the view!
<% end %>

<div class="menuPdfs brunch">
  <div id="page-title" class="pt-bkg-image image-lunch small-box over20">
    <div class="title-container brunch">
      <h1>Sunday Brunch Menu</h1>
      <h2>10am - 3pm</h2>
    </div>
  </div>

  <div class="page-content container altSize">
    <div class="menu-opt">
      <h5>Click on the menu below to view/download a larger version.</h5>

      <%= link_to "GL-Brunch.pdf", target: '_blank', class: 'menu-link menuBg ml-solo gold' do %>
        <!-- <p class="menuTitle"><b>Lunch</b><br> Food &amp; Bar Menu</p> -->
        <%= image_tag('menu-brunch.png', class: 'img-responsive', alt: "Ginny Lane Lunch Menu, Orange Beach, AL restaurant") %>
      <% end %>
    </div>
  </div>
</div>


<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
