<% content_for :title do %>
Daily Menu
<% end %>
<% content_for :description do %>
Join us for a lunch, dinner, or just a snack. You'll love our great food with a great view!
<% end %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-lunch small-box over20">
    <div class="title-container">
      <h1>Daily Menu</h1>
      <!-- <h2>Served daily: 11am - 4pm</h2> -->
    </div>
  </div>

  <div class="tabs">
    <div class="page-content container spec"> <!-- may dlt spec class if switched back -->
      <div class="menu-opt">
        <h5>Select one of the items below to view the full menu.</h5>
          <%= link_to "fall-lunch2020.pdf", target: '_blank', class: 'menu-link' do %>
            Lunch Specials
            <%= image_tag('fall-lunch2020.jpg', class: 'img-responsive') %>
          <% end %>

          <%= link_to "fall-menu2020.pdf", target: '_blank', class: 'menu-link two' do %>
            Daily Menu
            <%= image_tag('fall-menu2020.jpg', class: 'img-responsive') %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>

