<% content_for :title do %>
Daily Menu
<% end %>
<% content_for :description do %>
Join us for a lunch, dinner, or just a snack. You'll love our great food with a great view!
<% end %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-lunch small-box over20">
    <div class="title-container">
      <h1>Daily Menus</h1>
    </div>
  </div>

  <div class="tabs">
    <div class="page-content container spec"> <!-- may dlt spec class if switched back -->
      <div class="menu-opt">
        <h5>Select one of the items below to view the full menu.</h5>
          <%= link_to "Lunch-Menu2021.pdf", target: '_blank', class: 'menu-link menuBg' do %>
            <p class="menu-name">Lunch Menu</p>
            <%= image_tag('lunch-menu.png', class: 'img-responsive', alt: "Ginny Lane Lunch Menu") %>
          <% end %>

          <%= link_to "Dinner-Menu2021.pdf", target: '_blank', class: 'menu-link menuBg two' do %>
            <p class="menu-name">Dinner Menu</p>
            <%= image_tag('dinner-menu.png', class: 'img-responsive', alt: 'Ginny Lane Dinner Menu') %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>

