<% content_for :title do %>
Drink Menu
<% end %>
<% content_for :description do %>
Whether you are enjoying a few cocktails with your meal, or just grabbing one to-go, &amp; parousing The Wharf, Ginny Lane has a Drink Menu you will love.
<% end %>


    <div id="page-title" class="pt-bkg-image image-6">
        <div class="title-container">
            <h3>Ginny Lane's</h3>
            <h1>Drink Menu</h1>
        </div>
    </div>

    <div class="tabs">
        <div class="page-content container">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div id="accordeon">
                    <div class="cbp-item">
                        <div class="cbp-caption first">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Beer</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-item text-center">
                                        <h6>
                                            Ask Your Server or Bartender About Our Draught Beer Selection!<br>
                                            Draughts and Micro Brews Subject to Change.
                                        </h6>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Domestics</h4>
                                            <!-- <h6>Astra German Lager<br>$2.75</h6> -->

                                            <h6>
                                                Budweiser, Bud Light, Michelob Ultra<br>
                                                Miller Lite, Coors Light, Yuengling <br> <strong>$4</strong>
                                            </h6>
                                        </div>
                                    </div>

                                    <div class="col-md-8 no-padding col-xs-12">
                                        <div class="menu-item">
                                            <h4>Craft Brews &amp; Imports</h4>
                                                <h6>Corona Extra<br>
                                                    Stella Artois <br>
                                                    <strong>$4</strong>
                                                </h6>

                                                <h6>Fairhope Amber <br>
                                                    Fairhope Judge Roy Bean Stout <br>
                                                    Wydridge HappyCider<br>
                                                    <strong>$5</strong>
                                                </h6>

                                                <h6>Lagunitas IPA <br>
                                                    Blue Pants Chocolate Oatmeal Porter <br>
                                                    Ghost Train Switchman's Stash IPL <br><strong>$6</strong>
                                                </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption second">
                            <div class="cbp-caption-defaultWrap">
                                <h4>House Cocktails- $10</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Ginny Lane’s Strawberry Lemonade</h4>
                                            <p>Redmont Vodka, Strawberry Puree, Lemonade, Sierra Mist</p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Blood Orange &amp; Elderflower Gin Cocktail </h4>
                                            <p>Redmont Gin, Elderflower Liqueur, Lime Juice, Blood Orange Puree, Ginger Ale </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Lemon Basil Martini</h4>
                                            <p>Bacardi Limon, Fresh Squeezed Lemon, Basil, Simple Syrup, Sugar Rim</p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Cooper’s Cup</h4>
                                            <p>Cooper’s Craft Bourbon, Fresh Lime Juice, Topped with Ginger Beer</p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Gulf Storm</h4>
                                            <p>Captain Morgan Spiced Rum, Blue Curaçao, Pineapple Juice, Orange Juice, Sierra Mist</p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Villaggio Bellini</h4>
                                            <p>Elizabeth Vodka, Peach Schnapps, Topped with Prosecco and Berries</p>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption third">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Frozen Drinks - $10</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Raspberry Lemonade</h4>
                                            <p>
                                               Bacardi Limon, Limón cello, Raspberry Puree
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Bailey’s Banana Colada</h4>
                                            <p>
                                                Light Rum, Bailey’s, Cream of Banana, Piña Colada Mix, Hint of Coconut
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Watermelon Margarita</h4>
                                            <p>
                                                Tequila, Watermelon Puree, Fresh Lime, Salt Rim
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Daiquiri</h4>
                                            <p>
                                                Strawberry, Pina Colada, Banana, Peach, Orange, Raspberry, Watermelon
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       <!--  <div class="cbp-caption fourth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Dessert Martinis - $10</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-5 col-md-offset-1 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Key Lime Pie</h4>
                                            <p>
                                                Liquor 43, Roses Lime Juice, Cream, Topped with Graham Cracker Crust and Whipped Cream
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-5 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Peaches N’ Cream</h4>
                                            <p>
                                               Smirnoff  Whipped Vodka, Peach Puree, Peach Schnapps, Cream
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
