<% content_for :title do %>
Drink Menu
<% end %>
<% content_for :description do %>
Whether you are enjoying a few cocktails with your meal, or just grabbing one to-go, &amp; parousing The Wharf, Ginny Lane has a Drink Menu you will love.
<% end %>


<div id="page-title" class="pt-bkg-image image-6 small-box over20">
  <div class="title-container">
    <h1>Drink Menu</h1>
  </div>
</div>

<div class="tabs">
  <div class="page-content container">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <div id="accordeon">
        <div class="cbp-item">
          <!-- <div class="cbp-caption special25">
            <div class="cbp-caption-defaultWrap"><h4>25¢ Cocktails</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
                <div class="menu-item spec25">
                  <h4>Your first one is 25¢!</h4>
                  <p>(1 per person, per day. Additional cocktails $8.)</p>
                </div>

                <div class="menu-item">
                  <h4>Cosmo on the Rocks</h4>
                  <p>Vodka, Cranberry, Triple Sec, Fresh Lime</p>
                </div>

                <div class="menu-item">
                  <h4>The Sunset</h4>
                  <p>Rum &amp; Pineapple Juice</p>
                </div>

                <div class="menu-item">
                  <h4>Blue Wave</h4>
                  <p>Tequila, Blue Curacao, Sour Mix, Salted Rim</p>
                </div>
              </div>
            </div>
          </div> -->

          <div class="cbp-caption first">
            <div class="cbp-caption-defaultWrap"><h4>Beer</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
                <div class="menu-item beer-list">
                  <h6>Ask Your Server About Our Draught Beer Selection!<br>Draughts and Micro Brews Subject to Change.</h6>
                </div>

                <div class="menu-item beer-list">
                  <h4>Domestics</h4>
                  <h6>
                    Budweiser, Bud Light, Michelob Ultra<br>
                    Miller Lite, Coors Light, Yuengling <br> <strong>$4</strong>
                  </h6>

                  <h4>Craft Brews &amp; Imports</h4>
                  <h6>Corona Extra<br>
                    Corona Premier<br>
                    Stella Artois <br>
                    <strong>$4</strong>
                  </h6>

                  <h6>Lagunitas IPA <br>
                    Goat Island Blood Orange, Berliner Weisse, Cullman, Al
                    <br><strong>$6</strong>
                  </h6>
                  
                  <h6>Something Cold Blonde Ale, 16oz<br><strong>$6.5</strong></h6>
                </div>
              </div>
            </div>
          </div>

          <div class="cbp-caption second">
            <div class="cbp-caption-defaultWrap"><h4>House Cocktails</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
                <div class="mi-cocktails">
                  <div class="menu-item">
                    <h4>Ginny Lane’s Strawberry Lemonade ... $9</h4>
                    <p>Seersucker Southern GinStrawberry Puree, Lemonade</p>
                  </div>

                  <div class="menu-item">
                    <h4>Lemon Basil Martini ... $10</h4>
                    <p>Bacardi Limon, Fresh Lemon Juice, Muddled Basil, Simple Syrup, Sugar Rim</p>
                  </div>

                  <div class="menu-item">
                    <h4>Coastal ... $8</h4>
                    <p>Mango Rum, Coconut Berry Red Bull</p>
                  </div>

                  <div class="menu-item">
                    <h4>Villaggio Bellini ... $10</h4>
                    <p>Elizabeth Vodka, Peach Schnapps, Topped with Prosecco and Berries</p>
                  </div>

                  <div class="menu-item">
                    <h4>Elijah Craig Manhattan Martini ... $10</h4>
                    <p>Elijah Craig Bourbon, Sweet Vermouth, Bitters, Bourbon Soaked Cherries</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cbp-caption third">
            <div class="cbp-caption-defaultWrap"><h4>Frozen Drinks - $10</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
                <div class="col-md-6 col-xs-12">
                  <div class="menu-item">
                    <h4>Raspberry Lemonade</h4>
                    <p>Bacardi Limon, Lemonade, Raspberry Puree</p>
                  </div>

                  <div class="menu-item">
                    <h4>Bailey’s Banana Colada</h4>
                    <p>Light Rum, Bailey’s, Cream of Banana, Piña Colada Mix</p>
                  </div>
                </div>

                <div class="col-md-6 col-xs-12">
                  <div class="menu-item">
                    <h4>Watermelon Margarita</h4>
                    <p>Lunazul Tequila, Watermelon Puree, Fresh Lime, Sugar Rim</p>
                  </div>

                  <div class="menu-item">
                    <h4>Daiquiri</h4>
                    <p>Strawberry, Piña Colada, Raspberry, Watermelon</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="cbp-caption whitewine">
            <div class="cbp-caption-defaultWrap"><h4>White Wine</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
                <div class="menu-item wine-list">
                  <h4>La Fiera Pinot Grigio</h4>
                  <p>Italy</p>

                  <h4>Kris Pinot Grigio</h4>
                  <p>Italy</p>

                  <h4>Sea Sun Chardonnay, Caymus Vineyards</h4>
                  <p>CA</p>

                  <h4>Schugg Chardonnay</h4>
                  <p>Sonoma County CA</p>

                  <h4>Brancott, Sauvginon Blanc</h4>
                  <p>New Zealand</p>

                  <h4>Dr. Loosen, Riesling</h4>
                  <p>Germany</p>
                </div>
              </div>
            </div>
          </div>


          <div class="cbp-caption redwine">
            <div class="cbp-caption-defaultWrap"><h4>Red Wine</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
                <div class="menu-item wine-list">
                  <h4>Sea Sun Pinot Noir, Caymus Vineyards </h4>
                  <p>Napa Valley, CA '17</p>

                  <h4>Meiomi Pinot Noir</h4>
                  <p>CA '18</p>

                  <h4>Chloe Cabernet Sauvgninon</h4>
                  <p>Monterey County, CA</p>

                  <h4>Hahn Cabernet Sauvginon</h4>
                  <p>CA '17</p>

                  <h4>Decoy Cabernet Sauvginon Bottle</h4>
                  <p>CA '17, (by the bottle only)</p>

                  <h4>Gouguenhem Malbec Reserva</h4>
                  <p>Argentina '17</p>
                </div>
              </div>
            </div>
          </div>


          <div class="cbp-caption rosebubbly">
            <div class="cbp-caption-defaultWrap"><h4>Rosé &amp; Bubbly</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body">
                <div class="menu-item wine-list">
                  <h4>House Bubbles</h4>
                  <p>(by the glass only)</p>

                  <h4>La Marca Prosecco</h4>
                  <p>Italy NV (by the glass only)</p>

                  <h4>Angels and Cowboys</h4>
                  <p>CA '18</p>

                  <h4>The Prisoner Rose, Unshackled</h4>
                  <p>CA</p>                  
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
