<% content_for :title do %>
Dinner With Elvis
<% end %>
<% content_for :description do %>
Don't miss this year's Elvis Dinner at Ginny Lane in Orange Beach!
<% end %>


<div class="event elvis-dinner">
  <div class="wrap">
    <div class="title">
      <h1>Dinner With Elvis</h1>
      <h2 class="shadow-mod">February 17, 2023 <br><span>&nbsp;&middot;&nbsp;</span> 6pm 
        <!-- <span>&nbsp;|&nbsp;</span> $45 per guest -->
      </h2>
      <h3>Call for Reservations:<br> <a class="tel" href="tel:+12512246500">251-224-6500 <span>(ext. 1)</span></a></h3>
    </div>
      <!-- <div class="clearfix"></div><hr><div class="clearfix"></div> -->

    <!-- <= link_to "Dinner2023.pdf", target: '_blank', class: 'ml' do %> -->
    <p class="instr"><a href="ElvisDinner.pdf" target="_blank">Click here to see larger menu.</a></p>
    <%= image_tag('elvisDinner.png', class: 'img-responsive', alt: 'Ginny Lane Elvis Dinner Menu') %>
    <!-- < end %> -->
  </div>
</div>
<div class="clearfix"></div>