<% content_for :title do %>
Entertainment
<% end %>
<% content_for :description do %>
Let Ginny Lane be part of your weekend fun, with our live entertainment! Check out our Entertainment Schedule, &amp; see who's playing this week.
<% end %>

<div id="page-title" class="pt-bkg-image image-2">
  <div class="container">
    <!-- <div class="row"> -->
      <div class="col-md-12">
        <section class="title-container clearfix">
          <div class="title text-center">
            <h3>Ginny Lane's</h3>
            <h1>Entertainment Schedule</h1>
          </div>
        </section>
      </div>
    <!-- </div> -->
  </div>
</div>

<div class="page-content less">
  <div class="container">
    <div class="fancy-heading center">
      <!-- <h2>Looking for something fun to do?</h2> -->
      <h2>Join us for some live music!</h2>
      <h4>Check back for updates on our events and entertainment.</h4>
    </div>

    <div class="tock-block">
      <div data-tockify-component="calendar" data-tockify-calendar="ginnylane.bargrill"></div>
    </div>
    
    <!-- <center>
      <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23c0c0c0&amp;src=ginnylanerestaurant%40gmail.com&amp;color=%236B3304&amp;ctz=America%2FChicago" style=" border-width:10px; border-style:ridge; border-color:#9e3221;" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </center> -->
  </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
