<% content_for :title do %>
Lunch Menu
<% end %>
<% content_for :description do %>
Have lunch at Ginny Lane Bar &amp; Grill. Great food with a great view!
<% end %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-lunch">
        <div class="title-container">
            <section class="fancy-heading center">
                <h1>Lunch Menu</h1>
                <h4>Served Daily, from 11 a.m. - 4 p.m.</h4>
            </section>
        </div>
    </div>


    <div class="tabs">
        <div class="page-content container">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div id="accordeon">
                    <div class="cbp-item">

                        <div class="cbp-caption first">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Starters</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Loaded Nachos </h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Seasoned Ground Beef, Jalapenos,
                                                Pico dé Gallo, Sour Cream, Black Olives,
                                                 Lettuce, Guacamole, Tortilla Chips
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Fried Green Tomatoes and Blackened Shrimp </h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                            Blackened Shrimp, Fried Green Tomatoes, Creole Remoulade
                                            </p>
                                        </div>


                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Cherry Barbeque Baby Back Ribs</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Four Spice Rubbed Baby Back Ribs, Cherry Barbeque Sauce, Celery
                                            </p>
                                        </div>
                                        <div class="menu-item">
                                            <h4>Cheese Plate</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Gorgonzola, Honey Drizzled Brie, Smoked
                                                Gouda and Goat Cheese  with
                                                Fresh Fruit, Spiced Pecans and Crackers
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-offset-3 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Spinach Artichoke Dip</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                                Fresh Spinach, Artichokes, Cream Cheese, Sour Cream, Green Onions, Tortilla Chips
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption second">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Baked Oysters</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-4 col-xs-12">
                                        <!-- <div class="menu-item">
                                            <h4>Bacon &amp; Cheddar</h4>
                                            <div class="menu-price">
                                                <p>$14</p>
                                            </div>
                                            <p>
                                                Green Onion, Jalapeño Cream
                                            </p>
                                        </div> -->

                                        <div class="menu-item">
                                            <h4>Garlic Butter</h4>
                                            <div class="menu-price">
                                                <p>$14</p>
                                            </div>
                                            <p>
                                                Roasted Garlic, Lemon, Herbs, Butter
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Shrimp Bienville</h4>
                                            <div class="menu-price">
                                                <p>$14</p>
                                            </div>
                                            <p>
                                              Peppers, Onion, Shrimp, Cream, Mozzarella, Parmesan
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Oyster Sampler</h4>
                                            <div class="menu-price">
                                                <p>$15</p>
                                            </div>
                                            <p>
                                               3 of Each
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption third">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Salads and Soups</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-item">
                                        <center>
                                            <p>Add Shrimp: $5 | Add Chicken: $4</p>
                                        </center>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Garden</h4>
                                            <div class="menu-price">
                                                <p>$6</p>
                                            </div>
                                            <p>
                                                Spring mix, shaved carrots, red cabbage, red onion, marinated tomatoes, mozzarella cheese, house made croutons
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Caesar</h4>
                                            <div class="menu-price">
                                                <p>$7</p>
                                            </div>
                                            <p>
                                                Romaine lettuce, house made croutons, marinated grape tomatoes, parmesan cheese, Caesar dressing
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Pecan and Pear</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                                Spring mix, goat cheese crumbles, candied pecans, fresh strawberries, pear slices, raspberry vinaigrette
                                            </p>
                                        </div>
                                        <div class="menu-item">
                                            <h4>Seafood Gumbo</h4>
                                            <div class="menu-price">
                                                <p>$5/$8</p>
                                            </div>
                                            <p>
                                                Gulf shrimp, crawfish, sausage, Bell peppers, tomatoes, creole seasoning, rice, green onions
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Cup of Gumbo and Salad</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                                Caesar or Garden Salad
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption fourth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Lunch Plates</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Crab Cake</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Crab cake, white rice, green beans, tartar sauce
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Pecan Encrusted Chicken</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Cheddar grits, Brussel Sprouts, lemon beurre blanc
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Shrimp Alfredo</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                               Sautéed Gulf Shrimp, Spinach, Peas, Alfredo Cream Sauce over Linguini
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Pan Seared Fish*</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                               Saffron Rice Pilaf, Green Beans, Lemon Beurre Blanc
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <!-- <div class="menu-item">
                                            <h4>Chicken Picatta</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Thinly Sliced Chicken, Breaded and Pan Fried, Caramelized Onions, Lemon and Caper Beurre Blanc, over Linguini
                                            </p>
                                        </div> -->

                                        <div class="menu-item">
                                            <h4>Shrimp n' Grits</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Sautèed Gulf Shrimp, Tomatoes, Bacon, Thyme, Rosemary, Green Onions, Shallots, Garlic, Chardonnay Cream Sauce, over Cheddar Grits
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Chicken Tortellini</h4>
                                            <div class="menu-price">
                                                <p>$14</p>
                                            </div>
                                            <p>
                                               Grilled Chicken, Bell Peppers, Roasted Tomatoes, Tomato Cream Sauce over Ricotta Stuffed Tortellini
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>6oz Grilled New York Strip</h4>
                                            <div class="menu-price">
                                                <p>$14</p>
                                            </div>
                                            <p>
                                               Butter Mashed Potatoes, Green Beans, Red Wine Demi Glace
                                            </p>
                                        </div>
                                    </div>


                                    <div class="menu-item text-center">
                                        <p>*Consuming raw or undercooked meats, seafood or shellfish may cause potential health risks.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption fifth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>$10 Specials</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="col-md-6 col-xs-12">
                                       <!--  <div class="menu-item"><p><strong>** $8 specials do include a tea or coffee. **</strong></p></div> -->

                                        <div class="menu-item">
                                            <h4>Fried Shrimp</h4>
                                            <p>
                                               Fresh Gulf Shrimp, Cheddar Grits, Green Beans, Creole Remoulade
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Shrimp Scampi</h4>
                                            <p>
                                               Sautéed Gulf Shrimp in a White Wine, Butter, Garlic Sauce with Asparagus
                                                and Tomatoes over Linguini
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Homemade Meatloaf</h4>
                                            <p>
                                               Blend of Ground Beef, Mushrooms, &amp; Panko Bread Crumbs, Mashed Potatoes, Green Beans, Mushroom Gravy
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Hamburger Steak</h4>
                                            <p>
                                               Blend of Ground Beef, Mushrooms, &amp; Panko Bread Crumbs, Mashed Potatoes, Green Beans, Mushroom Gravy
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Red Beans &amp; Rice</h4>
                                            <p>
                                               Conecuh Sausage, Garlic, Celery, Bell Peppers, Kidney Beans over Steamed White Rice
                                            </p>
                                        </div>

                                        <!-- <div class="menu-item">
                                            <h4>Country Fried Steak</h4>
                                            <p>
                                               Fried Strip Loin, Macaroni &amp; Cheese, Green Beans, Onion &amp; Mushroom Gravy
                                            </p>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption sixth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Sandwiches</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-item text-center">
                                        <p>*All sandwiches served with fries or coleslaw</p>
                                    </div>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="menu-item">
                                            <h4>Fish Sandwich*</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Fish of the day, lettuce, onion, tomato, tartar sauce, Ciabatta Bread
                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Blackened Fish Tacos</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                                Blackened Fish, Romaine lettuce, Pico de Gallo, jalapeño cream
                                            </p>
                                        </div>


                                    </div>

                                    <div class="col-md-6 col-xs-12">

                                        <div class="menu-item">
                                            <h4>PoBoy Sandwich</h4>
                                            <div class="menu-price">
                                                <p>$10</p>
                                            </div>
                                            <p>
                                               Fried Gulf Shrimp, Lettuce, Tomato, Tartar Sauce on Baguette

                                            </p>
                                        </div>

                                        <div class="menu-item">
                                            <h4>Ginny Lane Burger*</h4>
                                            <div class="menu-price">
                                                <p>$12</p>
                                            </div>
                                            <p>
                                               Lettuce, Tomato, Onion, Mayonnaise on Brioche Bun<br>Your Choice of: Cheddar, Mozzarella, Goat Cheese
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>

