<% content_for :title do %>
Food Specials
<% end %>
<% content_for :description do %>
Keep up with Ginny Lane's specials, &amp; never miss one of our great deals.
<% end %>

<section class="page-title-bar">
	<div class="col-md-6 col-md-offset-3 col-xs-12">
    	<div class="heading-box">
    		<h2>Ginny Lane's</h2>
	        <h1>Weekly Food Specials</h1>
        </div>
    </div>
</section>

<div class="page-content">
    <div class="container">
        <div class="row">

        	<div class="col-md-5 col-md-offset-1 col-xs-12 bpadding-1">
                <h3>Monday</h3>
                <h5>Fried Crab Cakes, Fries, Slaw, Tartar <br><b>$14.00</b></h5>
            </div>

            <div class="col-md-5 col-xs-12 bpadding-1">
                <h3>Tuesday</h3>
                <h5>AYCE Fried or Grilled Shrimp served with Hushpuppies and Slaw, Butter and Cocktail <br><b>$15.00</b></h5>
            </div>

            <div class="col-md-5 col-md-offset-1 col-xs-12 bpadding-1">
                <h3>Wednesday</h3>
                <h5>Prime Rib, Mashed Potatoes, Green Beans, Au Jus or Horseradish -- includes a small house or caesar salad before meal <br><b>$16.00</b></h5>
            </div>

            <div class="col-md-5 col-xs-12 bpadding-1">
                <h3>Thursday</h3>
                <h5> Crab Crusted Grouper Night (Fresh Gulf Fish), Parmesan Risotto and Carrots<br><b>$24.00</b></h5>
            </div>
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                <h3>Friday</h3>
                <h5>Lobster Night with Baked Potato and Salad served with Clarified Butter <br><b>$24.00</b></h5>

            	<!-- <div class="col-md-6 col-xs-12">
                	<h5 class="less">*The following specials are valid:<br>
                    <span> Monday - Friday:</span> 6pm - Close &nbsp; &amp; &nbsp; <span>Saturday - Sunday:</span> Open - Close.</h5>
                	<ul class="barspecials">
                		<li><span>Fried Mushrooms</span> - with Ranch… $8</li>
						<li><span>Beef Sliders</span> - with Cheese, Bacon, Lettuce, Tomato, Onions, Mayonnaise, and French Fries… $8</li>
						<li><span>Blue Crab Dip</span> Served with Tortilla Chips… $10 </li>
                	</ul>
                </div>

                <div class="col-md-4 col-md-offset-1 col-xs-12">
            		<div class="specials-box">
                		<h4>Wednesday Night<br> Prime Rib Special</h4>
                		<p><strong>10oz Prime Rib</strong><br> Mashed Potatoes, Green Beans<br> Caesar or Garden Salad<br> $18.00</p>
                	</div>
                </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>


<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
