<% content_for :title do %>
Gameday Specials & Waterfront Dining
<% end %>
<% content_for :description do %>
Come watch football while you enjoy delicious food and drinks, with a waterfront view!
<% end %>


<div id="menupage" class="football-season">
  <div id="page-title" class="pt-bkg-image image-fb">
    <div class="title-container">
      <h1>Spend Football Season With Us!</h1>
      <!-- <h2><span class="sec-span"><%= image_tag('football-sec.png', alt: "SEC Network at Ginny Lane, Orange Beach, AL", class: 'fb-badge sec img-responsive') %></span> 
      	<span class="b10-span"><%= image_tag('football-b10.png', alt: "Big Ten Network at Ginny Lane, Orange Beach, AL", class: 'fb-badge b10 img-responsive') %></span>  
      	<br>&amp; Great Game Day Specials!
      	
      </h2> -->
    </div>
  </div>

  <div class="tabs">
    <div class="page-content container spec"> <!-- may dlt spec class if switched back -->
      <div class="menu-opt">
        <h5>Click on the menu below to view a larger version.</h5>
        <%= link_to "Football-Specials.pdf", target: '_blank', class: 'soloImg menu-linkXmenuBg' do %>
          <%= image_tag('football-specials.png', class: 'img-responsive', alt: "Ginny Lane Football Specials") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>

