<% content_for :title do %>
Kids' Menu
<% end %>
<% content_for :description do %>
Ginny Lane Bar &amp; Grill loves kids! We have a great kids' menu, and an awesome view for them to enjoy!
<% end %>

<div id="menupage" class="text-center">
	<div class="col-md-8 col-md-offset-2 col-sm-12">
		<%=image_tag('kidsMenu.png', alt: "Ginny Lane Kids' Menu", class: 'img-responsive') %>
	</div>
</div>
