<% content_for :title do %>
Pairing
<% end %>
<% content_for :description do %>
It's time for Ginny Lane's Annual Mother-Son, Valentine's Day Dinner. Bring your favorite guy, and enjoy a great night!
<% end %>

<div class="pairing vday-ms">
    <div id="page-title" class="pt-bkg-image image-ms-vday">
        <section class="title-container less">
            <div class="custom-tbx">
                <h1 class="shadow-mod">Mother &amp; Son <br>Valentine's Dinner</h1>
                <!-- <hr class="half"> -->
                <div class="col-xs-12 text-center">
                    <h3 class="shadow-mod">Tuesday, February 9th, 6pm<br>
                    <a href="tel:+12512246500">Call For Reservations: 251-224-6500 ex. 1</a></h3>
                </div>
            </div>
        </section>
    </div>

    <div class="page-content pairing-1">
        <div class="container">
            <div class="row">
                <div class="solo food-menus">
                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">APPETIZERS</h3>
                        <div class="service-box-2 menu-item">
                          <h4><strong>HOUSE SALAD ... $4 </strong></h4>
                          <h5>Spring Mix, Carrots, Red Onion, Croutons, Tomato, Balsamic Dressing or Ranch.</h5>

                          <h4><strong>CAESAR SALAD ... $4 </strong></h4>
                          <h5>Romaine lettuce, parmesan cheese, marinated tomatoes, house made croutons. Tossed in Caesar dressing.</h5>

                          <h4><strong>BUFFALO WINGS (6) ... $6 </strong></h4>
                          <h5>Tossed in buffalo sauce or BBQ &amp; served with celery &amp; your choice of ranch or bleu cheese.</h5>

                          <h4><strong>BRAISED SHORT RIB LOADED NACHOS ... $10 </strong></h4>
                          <h5>Braised short rib, queso cheese, jalapeños, pico de gallo, sour cream, black olives, lettuce, guacamole, house made tortilla chips.</h5>

                          <h4><strong>CHEESE PLATE ... $14 </strong></h4>
                          <h5>Gorgonzola, honey drizzled brie, smoked gouda, &amp; manchego cheese. Served with fresh fruit, spiced pecans &amp; crackers.</h5>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">ENTREES</h3>
                        <div class="service-box-2 menu-item">
                          <h4><strong>FRIED CHICKEN! ... $9</strong></h4>
                          <h5>Baked Macaroni &amp; Cheese, Black Eyed Peas, Side of Honey Mustard.</h5>

                          <h4><strong>CHICKEN ALFREDO ... $14</strong></h4>
                          <h5>Grilled chicken breast, spinach, &amp; peas in a creamy alfredo sauce over linguini. </h5>

                          <h4><strong>BAYOU GROUPER ... $24</strong></h4>
                          <h5>Grouper topped with crab &amp; lemon beurre blanc. Served with mushroom risotto &amp; glazed carrots. </h5>

                          <h4><strong>5oz FILET MIGNON ... $19</strong></h4>
                          <h5>Served with gouda smashed potatoes &amp; broccolini. Topped with red wine demi glace.</h5>

                          <h4><strong>SEAFOOD PASTA ... $18</strong></h4>
                          <h5>Gulf shrimp, crab, spinach, &amp; peas in a creamy alfredo sauce over linguini. </h5>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">Dessert</h3>
                        <div class="service-box-2 menu-item">
                          <h4><strong>BREAD PUDDING ... $8</strong></h4>
                          <h5>Warm, house made bread pudding. Served with white chocolate sauce and fresh berries.</h5>

                          <h4><strong>LAVA CAKE ... $8</strong></h4>
                          <h5>Warm chocolate cake </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
