<% content_for :title do %>
Mother & Son, Valentine's Day Dinner
<% end %>
<% content_for :description do %>
It's time for Ginny Lane's Annual Mother-Son, Valentine's Day Dinner. Bring your favorite guy, and enjoy a great night!
<% end %>

<div class="event vday-ms">
  <div class="simpleHeader vday-ms">
    <h1>Mother &amp; Son <br>Valentine's Dinner</h1>
    <h3>February 2nd &middot; 6pm</h3>
    <h4><a href="tel:+12512246500">Call For Reservations:<br> 251-224-6500</a></h4>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="menu-link"><%= image_tag('mommyDate-menu1.png', class: 'img-responsive', alt: "Ginny Lane Mother & Son Valentines Menu") %></div>
        <div class="menu-link"><%= image_tag('mommyDate-menu2.jpg', class: 'img-responsive', alt: "Ginny Lane Mother & Son Valentines Menu") %></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
