<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<!-- <div class="pairing-with-image"> -->
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <h1 class="shadow-mod">Hallow's Eve Haunted Wineries</h1>
        <div class="col-xs-12">
          <h3 class="shadow-mod">
            <%# Exclusive Napa Valley Wine Dinner &nbsp;|&nbsp; %>
            Hosted by Alabama Crown<br>
            October 23 <span class="span1">&nbsp;|&nbsp;</span> 6pm <span class="span1">&nbsp;|&nbsp;</span> $50 per guest
          </h3>
        </div>
      </div>
    </section>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="h2s">
          <p>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
          <hr>
        </div>

        <div class="solo food-menus">
          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">1st Course</h3>
            <div class="service-box-2">
              <h4><strong>Potato & Leek Soup</strong></h4>
              <h5>Russet Potatoes and Leeks. Served with Toasted Crostini. Topped with Crispy Leeks and Chives.</h5>
              <p>Paired with</p>
              <h4><strong>Kenwood Vineyards, Chardonnay, Monterey County, CA ‘22</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
            <div class="service-box-2">
              <h4><strong>Roasted Butternut Squash Salad</strong></h4>
              <h5>Arugula Endive Lettuce, Roasted Butternut Squash, Toasted Pumpkin Seeds, Sliced Pear with Balsamic Cherry Vinaigrette</h5>
              <p>Paired with</p>
              <h4><strong>Argyle Winery, Pinot Noir, Willamette Valley, OR ‘22</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
            <div class="service-box-2">
              <h4><strong>Cornish Hen</strong></h4>
              <h5>Pumpkin & Beet Rice Pilaf, Cauliflower, Acorn Squash and Carrot Medley. Topped with Brown Sugar Pineapple Glaze</h5>
              <p>Paired with</p>
              <h4><strong>Charles Krug, Sauvignon Blanc, Napa Valley CA ‘23</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">4th Course</h3>
            <div class="service-box-2">
              <h4><strong>Fig and Persimmon Chocolate Tartlet</strong></h4>
              <h5>Chocolate Cake, Maple Roasted Figs, Chocolate Ganache, Persimmon Marmalade</h5>
              <p>Paired with</p>
              <h4><strong>Argyle Winery, Brut, Willamette Valley, OR '18</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="clearfix"></div>