<% content_for :title do %>
Pairing
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>

<div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
        <div class="custom-tbx">
            <h1 class="shadow-mod">November Wine Dinner</h1>
            <h3 class="shadow-mod">Hosted by International Wines<br> Featuring Wines from Portugal</h3>
            <hr class="half">
            <div class="col-xs-12 text-center">
                <h3 class="shadow-mod">Thursday, November 21st, 6pm<br> $40 per guest</h3>
            </div>
        </div>
    </section>
</div>

<div class="page-content pairing-1">
    <div class="container">
        <div class="row">
            <div class="h2s">
                <h3>Call For Reservations: 251-224-6500</h3>
                <hr>
            </div>

            <div class="solo food-menus">
                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">1st Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Crispy Pork Eggrolls </strong></h4>
                        <h5>Shredded Manchango Cheese, Cabbage, and Carrots, Drizzled with a green olive Tapenade </h5>
                        <p>Paired with:</p>
                        <h4><strong>Vera, Vihno Verde, Portugal ‘18</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Pan Seared Snapper</strong></h4>
                        <h5>Wild Mushroom and Pancetta Risotto Cake, Curried Remoulade </h5>
                        <p>Paired with:</p>
                        <h4><strong>Aplanta Red Blend, Alentejanto, Portugal ‘18</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Roasted Beef Tenderloin </strong></h4>
                        <h5>Potato Croquette, Pureed Lima Beans, Roasted Red Pepper Pesto</h5>
                        <p>Paired with:</p>
                        <h4><strong>Fitapreta Tinto, Alentajanto, Portugal ‘17</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">4th Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Almond Polenta Pound Cake</strong></h4>
                        <h5>Blackberry Compote </h5>
                        <p>Paired with:</p>
                        <h4><strong>Nortico, Alvarinho, Portugal ‘18</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
