<% content_for :title do %>
Pairing
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>

<div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
        <div class="custom-tbx">
            <h1 class="shadow-mod">March Wine Dinner</h1>
            <!-- <h3 class="shadow-mod">Hosted by International Wines<br> Featuring Wines from Portugal</h3> -->
            <hr class="half">
            <div class="col-xs-12 text-center">
                <h3 class="shadow-mod">Thursday, March 25th, 2021</h3>
                <!-- , 6pm<br> $40 per guest -->
            </div>
        </div>
    </section>
</div>

<div class="page-content pairing-1">
    <div class="container">
        <div class="row">
            <div class="h2s">
                <h3>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 ext. 1</a></h3>
                <hr>
            </div>

            <div class="solo food-menus">
                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">1st Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Crab Stuffed Crimini Mushrooms</strong></h4>
                        <h5>Lump Crab Tossed with Bell Peppers and Onions in a Chipolte Aoli and Baked, Topped with a Creamy Mornay Sauce.</h5>
                        <p>Paired with:</p>
                        <h4><strong>Cave de Lugny, Macon-Lugny Chardonnay Les Charmes 2018 </strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Pan Seared Red Snapper</strong></h4>
                        <h5>Red Snapper, pan seared and served with a Sweet Potato Hash and Grilled Zucchini. Topped with a fire Roasted Tomato Broth.</h5>
                        <p>Paired with:</p>
                        <h4><strong>Reata, Pinot Noir Three Country 2018</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Grilled Lamb Lollipops</strong></h4>
                        <h5>Grilled Lamb Served With Charred Leek Quinoa And Drizzled with a Fig Vinaigrette</h5>
                        <p>Paired with:</p>
                        <h4><strong>Chateau Bellevue Peycharneau, Bordeaux Superieur 2016</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">4th Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Mini Caramel Apple Bites</strong></h4>
                        <h5>Granny Smith Apples, Covered in Caramel and Rolled in Pine Nuts, in a Crispy Tartlette Shell</h5>
                        <p>Paired with:</p>
                        <h4><strong>Goldschmidt Vineyards, Marlborough Sauvignon Blanc Boulder Bank 2019</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
