<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<!-- <div class="pairing-with-image"> -->
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <h1 class="shadow-mod">Taste of Fall Wine Dinner</h1>
        <div class="col-xs-12">
          <h3 class="shadow-mod">
            Hosted by Rush Imports<br>
            November 13 <span class="span1">&nbsp;&middot;&nbsp;</span> 6pm <span class="span1">&nbsp;&middot;&nbsp;</span> $50 per guest
          </h3>
        </div>
      </div>
    </section>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="h2s">
          <p>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
          <hr>
        </div>

        <div class="solo food-menus">
          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">1st Course</h3>
            <div class="service-box-2">
              <h4><strong>Seafood Ceviche</strong></h4>
              <h5>Scallops, Gulf Shrimp, Red Onions, Jalapenos, Pomegranate, Cilantro, Fried Wonton</h5>
              <p>Paired with</p>
              <h4><strong>Cannonball Sauvignon Blanc CA ‘22</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
            <div class="service-box-2">
              <h4><strong>Warm Duck Salad</strong></h4>
              <h5>Balsamic Cherries, Salad Leaves, Crisp Red Onions, Cherry Tomato, Mint, Almonds</h5>
              <p>Paired with</p>
              <h4><strong>Angels & Cowboys Proprietary Red, Sonoma County CA ‘21</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
            <div class="service-box-2">
              <h4><strong>Flank Steak</strong></h4>
              <h5>Sundried Tomato and Herb Orzo, Candied Baby Carrots</h5>
              <p>Paired with</p>
              <h4><strong>Cannonball Cabernet Sauvignon CA ‘21</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">4th Course</h3>
            <div class="service-box-2">
              <h4><strong>Golden Apple and Citrus Blossom Mille-Feuille</strong></h4>
              <h5>Almond Dacquoise, Crunchy Praline, Gold Apple Cremeux, Citrus Blossom Ganache</h5>
              <p>Paired with</p>
              <h4><strong>Angels & Cowboys Brut NV CA</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="clearfix"></div>