<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<!-- <div class="pairing-with-image"> -->
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <h1 class="shadow-mod">September Wine Dinner</h1>
        <div class="col-xs-12">
          <h3 class="shadow-mod">September 21 <span class="span1">&nbsp;|&nbsp;</span> 6pm <span class="span1">&nbsp;|&nbsp;</span> $45 per guest</h3>
          <h4 class="shadow-mod">Hosted by Alabama Crown</h4>
        </div>
      </div>
    </section>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="h2s">
          <p>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
          <hr>
        </div>

        <div class="solo food-menus">
          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">1st Course</h3>
            <div class="service-box-2">
              <h4><strong>SALADE NICOISE </strong></h4>
              <h5>Tuna, Red Potatoes, Haricot Vert, Egg, Cherry Tomatoes, Artichoke Hearts, Thyme, Nicoise Olives </h5>
              <p>Paired with </p>
              <h4><strong>Calvet Crémant de Bordeaux Brut</strong></h4>
              <h5>Bordeaux, France</h5>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
            <div class="service-box-2">
              <h4><strong>SAUCISSON SEC SALAMI AND ASPARAGUS TART </strong></h4>
              <h5>Saucisson Sec Salami, Grilled Asparagus, Gruyere Cheese, Puff Pastry</h5>
              <p>Paired with </p>
              <h4><strong>Cave de Lugny &middot; Mâcon-Lugny La Carte</strong></h4>
              <h5>Burgundy, France</h5>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
            <div class="service-box-2">
              <h4><strong>CHICKEN FRICASSEE </strong></h4>
              <h5>Seared Chicken Thighs, Rich Mushroom Tarragon Gravy, Ratatouille, Parmesan Truffle Duchess Potatoes </h5>
              <p>Paired with </p>
              <h4><strong>Maison Alain de la Treille &middot; Touraine Sauvignon Blanc</strong></h4>
              <h5>Loire Valley, France</h5>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">4th Course</h3>
            <div class="service-box-2">
              <h4><strong>TRIPLE-LAYER CHOCOLATE MACAROON CAKE </strong></h4>
              <h5>Layers of Chewy Coconut Cake and Chocolate Ganache</h5>
              <p>Paired with </p>
              <h4><strong>Commanderie Des Hospitaliers Vin De Pays Cathare &middot; Grenache Syrah Mourvèdre</strong></h4>
              <h5>Languedoc-Roussillon, France</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="clearfix"></div>