<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<!-- <div class="pairing-with-image"> -->
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <h1 class="shadow-mod">Ginny Lane Goes To Spain</h1>
        <div class="col-xs-12">
          <h3 class="shadow-mod">February 22 <span class="span1">&nbsp;|&nbsp;</span> 6pm <span class="span1">&nbsp;|&nbsp;</span> $45 per guest</h3>
        </div>
      </div>
    </section>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="h2s">
          <p>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
          <hr>
        </div>

        <div class="solo food-menus">
          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">1st Course</h3>
            <div class="service-box-2">
              <h4><strong>BAKED CAVA OYSTERS</strong></h4>
              <h5>Baked Oysters on the Half Shell topped with Iberico Ham and Cava Sauce</h5>
              <p>Paired with</p>
              <h4><strong>Casteller Cava Brut, Alt Penedes, Spain NV</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
            <div class="service-box-2">
              <h4><strong>GULF SHRIMP AND AVOCADO TOAST</strong></h4>
              <h5>Rye Bread, Blackened Gulf Shrimp, Avocado, Shredded Manchego, Salsa Verde, Tomato and Cucumber Salad</h5>
              <p>Paired with</p>
              <h4><strong>La Cana Albarino, Rias Baixas, Spain '22</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
            <div class="service-box-2">
              <h4><strong>LAMB LOLLIPOPS</strong></h4>
              <h5>Smoky Creamed Kale and Quinoa, Tomato Bourbon Jam</h5>
              <p>Paired with</p>
              <h4><strong>Torremoron Tinto Tempranillo, Ribera del Duero, Spain '21</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">4th Course</h3>
            <div class="service-box-2">
              <h4><strong>CHOCOLATE-CITRUS IMPOSIBLE</strong></h4>
              <h5>Creamy Orange Flan with a Decadent Chocolate Cake Layer</h5>
              <p>Paired with</p>
              <h4><strong>Begonia Sangria Tinta, Cuenca Province, Spain NV</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="clearfix"></div>