<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<div class="fullSec pageWrap hasImage noEvent__XX">
  <div class="simpleHead">
    <div class="headWrap medDef">
      <h1>December Wine Dinner</h1>
      <h2 class="flexGroup align-center justify-center">
        December 11 <span class="dotXX span1">&middot;</span>
        6pm 
        <%# <span class="dotXX span2">&middot;</span> $50 per guest %>
      </h2>
      <p class="cta">Call For Reservations: <br class="rules brCta" /><a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
    </div>
  </div>



  <div class="fullSec page-content pairing-1 mainSec">
    <%# vimg below - full-menu code in info. rmv wrap class to revert. %>
    <div class="fullSec X_solo food-menus text-center">
      <div class="sectionWrap insideNrw">     
        <p class="instr">Click on the menu below to view a larger version.</p>
        <%= link_to "WineDinner.pdf", target: '_blank', class: 'menuLink' do %>
          <%= image_tag('WineDinner.png', alt: 'Upcoming Wine Dinner at Ginny Lane') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>