<% content_for :title do %>
Pairing
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>

<div class="halloween-dinner">
    <div id="page-title" class="pt-bkg-image image-hallo">
        <section class="title-container less">
            <div class="custom-tbx">
                <h1 class="shadow-mod">Halloween Wine Dinner</h1>
                <h3 class="shadow-mod">Hosted by United Johnson Brothers</h3>
                <hr class="half">
                <div class="col-xs-12 text-center">
                    <h3 class="shadow-mod">Wednesday, October 30th, 6pm<br> $40 per guest</h3>
                    <h3 class="shadow-mod">Call For Reservations: 251-224-6500</h3>
                </div>
            </div>
        </section>
    </div>

    <div class="page-content pairing-1">
        <div class="container">
            <div class="row">
                <div class="h2s">
                    <h2>Raffle and Costume Contest!<br>Costumes Encouraged!</h2>
                    <!-- <h3>Call For Reservations: 251-224-6500</h3> -->
                    <hr>
                </div>

                <div class="solo food-menus">
                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">1st Course</h3>
                        <div class="service-box-2">
                            <h4><strong>Spooky Squid Ink Linguine </strong></h4>
                            <h5>Pan Seared Scallops, Fresh Herbs, Lemon and Butter, Fresh Parmesan Cheese</h5>
                            <p>Paired with:</p>
                            <h4><strong>Skelton, Grüner Veltliner, Burgenland, Austria ‘17</strong></h4>
                        </div>
                    </div>
                    <hr>


                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
                        <div class="service-box-2">
                            <h4><strong>Pumpkin and Crab Deviled Eggs</strong></h4>
                            <h5>Frisse Au Lardon</h5>
                            <p>Paired with:</p>
                            <h4><strong>Ghost Pines, Chardonnay, California ‘15</strong></h4>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
                        <div class="service-box-2">
                            <h4><strong>Lamb Meatloaf and Lamb Lollipop</strong></h4>
                            <h5>Roasted Beet Risotto, Crunchy Haricot Verts, Blood Orange Gastrique </h5>
                            <p>Paired with:</p>
                            <h4><strong>Skelton Malbec, Mendoza, Argentina ‘18</strong></h4>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">4th Course</h3>
                        <div class="service-box-2">
                            <h4><strong>Candy Corn Crème Brulee Trifle</strong></h4>
                            <h5>White Chocolate Dipped Ghost Strawberry </h5>
                            <p>Paired with:</p>
                            <h4><strong>A to Z, Bubbles Rosé Wine, Oregon </strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
