<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>


<!-- <div class="pairing-with-image"> -->
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <h1 class="shadow-mod">November Wine Dinner</h1>
        <div class="col-xs-12">
          <h3 class="shadow-mod">Tuesday November 29th, 2022 <br> 6pm <span>&nbsp;|&nbsp;</span> $45 per guest</h3>
          <h4 class="shadow-mod">Featuring Wines from South Africa <br>Hosted by Marcie with Pinnacle Imports</h4>
        </div>
      </div>
    </section>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="h2s">
          <p>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
          <hr>
        </div>

        <div class="solo food-menus">
          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">1st Course</h3>
            <div class="service-box-2">
              <h4><strong>Goat Cheese Tartlet Trio</strong></h4>
              <h5>Three herb and goat cheese mousse tartlets served with bacon jam, fig jam, and pineapple sweet chili sauce </h5>
              <p>Paired with:</p>
              <h4><strong>Brut Rose, Lubanzi Winery, South Africa NV</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
            <div class="service-box-2">
              <h4><strong>Sunset Salad</strong></h4>
              <h5>Arugula, purple kale, watermelon radish, carrots, cotton candy grapes, toasted almonds, micro greens, and herbed pomegranate vinaigrette</h5>
              <p>Paired with:</p>
              <h4><strong>Chenin Blanc, Lubanzi Winery, South Africa '22</strong></h4>
            </div>
          </div>

          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
            <div class="service-box-2">
              <h4><strong>Deconstructed Beef Wellington</strong></h4>
              <h5>Puff pastry, cremini duxelle, dark cherry gastrique, duchess sweet potatoes and shaved brussels</h5>
              <p>Paired with:</p>
              <h4><strong>Secateurs Red Blend, Badenhorst Family Wines, South Africa '19</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">4th Course</h3>
            <div class="service-box-2">
              <h4><strong>Peanut Butter Chocolate Pie</strong></h4>
              <h5>Chocolate and peanut butter mousse, whipped cream, fudge sauce,
              graham cracker crust, peanuts, candy topping </h5>
              <p>Paired with:</p>
              <h4><strong>Red Blend, Lubanzi Winery, South Africa '20</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="clearfix"></div>