<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<!-- <div class="pairing-with-image"> -->
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <h1 class="shadow-mod">March Wine Dinner</h1>
        <div class="col-xs-12">
          <h3 class="shadow-mod">March 20 <span class="span1">&nbsp;|&nbsp;</span> 6pm <span class="span1">&nbsp;|&nbsp;</span> $45 per guest</h3>
        </div>
      </div>
    </section>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="h2s">
          <p>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
          <hr>
        </div>

        <div class="solo food-menus">
          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">1st Course</h3>
            <div class="service-box-2">
              <h4><strong>Tuna Carpaccio</strong></h4>
              <h5>Carrots, Cucumbers, Cabbage, Romaine, Edamame, Mint, Cashews, Miso Dressing, Topped with Seared Tuna</h5>
              <p>Paired with</p>
              <h4><strong>Le Morette Chiaretto Rose, Veneto, Italy '22</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
            <div class="service-box-2">
              <h4><strong>Pork Belly Bites</strong></h4>
              <h5>Served over a Broccoli and Jalapeño Slaw</h5>
              <p>Paired with</p>
              <h4><strong>Tenuta Maccan Chardonnay, Friuli-Venezia Giulia, Italy '21</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
            <div class="service-box-2">
              <h4><strong>Hanger Steak Au Pouivre</strong></h4>
              <h5>Honey Roasted Carrots, Potato Gratin Bundles</h5>
              <p>Paired with</p>
              <h4><strong>Pileum Cesanese del Piglio, Lazio, Italy '22</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">4th Course</h3>
            <div class="service-box-2">
              <h4><strong>Ricotta Cheese and Balsamic Roasted Strawberry Tartlet</strong></h4>
              <p>Paired with</p>
              <h4><strong>Demarie Langhe Nebbiolo, Piedmont, Italy '22</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="clearfix"></div>