<% content_for :title do %>
Pairing
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>


<div id="page-title" class="pt-bkg-image image-3">
  <section class="title-container less">
    <div class="custom-tbx">
      <h1 class="shadow-mod">January Wine Dinner</h1>
      <h3 class="shadow-mod">Hosted by Winston with Alabama Crown</h3>
      <hr class="half">
      <div class="col-xs-12 text-center"><h3 class="shadow-mod">Thursday, January 27th, 2022, 6pm<br> $40 per guest</h3></div>
    </div>
  </section>
</div>

<div class="page-content pairing-1">
  <div class="container">
    <div class="row">
      <div class="h2s">
        <h3>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 ext. 1</a></h3>
        <hr>
      </div>

      <div class="solo food-menus">
        <div class="col-md-12">
          <h3 class="text-center" style="font-weight:bold">1st Course</h3>
          <div class="service-box-2">
            <h4><strong>Strawberry &amp; Ricotta Bruschetta</strong></h4>
            <p>Paired with:</p>
            <h4><strong>Gratien &amp; Meyer, Cremant de Loire Brute Rose, Loire Valley, France</strong></h4>
          </div>
        </div>
        <div class="clearfix"></div><hr>
        
        <div class="col-md-12">
          <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
          <div class="service-box-2">
            <h4><strong>Roasted Sweet Potato, Arugula, &amp; Baby Spinach</strong></h4>
            <h5>Goat Cheese, Candied Bacon, with Maple Bacon Vinaigrette</h5>
            <p>Paired with:</p>
            <h4><strong>Gloria Ferrer, Pinot Noir Etesian, California, USA</strong></h4>
          </div>
        </div>
        <div class="clearfix"></div><hr>

        <div class="col-md-12">
          <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
          <div class="service-box-2">
            <h4><strong>Grilled Red Snapper</strong></h4>
            <h5>Spicy Tomato Relish, Risotto Verde, Balsamic &amp; Honey Glazed Baby Carrots</h5>
            <p>Paired with:</p>
            <h4><strong>Castello Banfi, Toscana Vermentino La Pettegola, Tuscany Italy</strong></h4>
          </div>
        </div>
        <div class="clearfix"></div><hr>

        <div class="col-md-12">
          <h3 class="text-center" style="font-weight:bold">4th Course</h3>
          <div class="service-box-2">
            <h4><strong>Mandarin Oranges, Pineapple, &amp; Coconut Cake</strong></h4>
            <p>Paired with:</p>
            <h4><strong>Piquitos, Valencia Moscato, Valencia, Spain</strong></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>