<% content_for :title do %>
Pairing
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>


<div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
        <div class="custom-tbx">
            <h1 class="shadow-mod">One Hope Wine Dinner </h1>
            <h3 class="shadow-mod">Hosted by Pinnacle Imports</h3>
            <hr>
            <div class="col-xs-12 text-center">
                <h3 class="shadow-mod">Thursday, April 25th, 6pm<br> $45 per guest</h3>
                <!-- <h4 class="shadow-mod">Call For Your Reservations:<br>251-224-6500</h4> -->
            </div>
        </div>
    </section>
</div>

<div class="page-content pairing-1">
    <div class="container">
        <div class="row">
            <div class="h2s">
                <h2>Call For Reservations: 251-224-6500</h2>
                <hr>
            </div>

                <div class="solo food-menus">
                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">1st Course</h3>
                        <div class="service-box-2">
                            <h4><strong>Smoked Salmon and cream Cheese Wontons </strong></h4>
                            <h5>Cucumber Sauce</h5>
                            <p>Paired with:</p>
                            <h4><strong>One Hope Rosé, CA ‘17</strong><br>
                            “Helps Prevent Ovarian Cancer”</h4>
                        </div>

                    </div>
                    <hr>


                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
                        <div class="service-box-2">
                          <h4><strong>Grilled Shrimp</strong></h4>
                            <h5>Parmesan Polenta Cake, Roasted Beets, Tarragon Lemon Butter</h5>
                            <p>Paired with:</p>
                            <h4><strong>One Hope Chardonnay, CA ‘17</strong><br>
                            “Prevents Breast Cancer”</h4>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
                        <div class="service-box-2">
                          <h4><strong>Pan Seared Duck Breast </strong></h4>
                            <h5>Grilled Zucchini, Sour Cream and Chive Mashed Potatoes </h5>
                            <p>Paired with:</p>
                            <h4><strong>One Hope Cabernet, CA ‘17</strong><br>
                            “Helps Children with Autism”</h4>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <h3 class="text-center" style="font-weight:bold">4th Course</h3>
                        <div class="service-box-2">
                          <h4><strong>Triple Chocolate Cheesecake </strong></h4>
                            <p>Paired with:</p>
                            <h4><strong>One Hope Pinot Noir, CA ‘17</strong><br>
                            “Helps Pet Adoption”</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
