<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<div class="fullSec pageWrap hasImage noEvent__XX">
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <div class="wrap col-xs-12">
          <h1 class="shadow-mod">
            Hosted by International Wines &amp; Craft Beer<br>
            <b>August 21 <span class="span1">&nbsp;&middot;&nbsp;</span><br class="rules br1" />
            6pm <span class="span2">&nbsp;&middot;&nbsp;</span><br class="rules br2" />
            $50 per guest</b>
          </h1>
        </div>
      </div>
    </section>
  </div>

  <div class="fullSec page-content pairing-1 mainSec">
    <div class="fullSec h2s">
      <div class="container">
        <p>Call For Reservations: <br/><a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
        <hr>
      </div>
    </div>

    <%# vimg below - full menu code in info. rmv wrap class to revert. %>
    <div class="fullSec X_solo food-menus text-center">
      <div class="sectionWrap medDef">     
        <p class="instr">Click on the menu below to view a larger version.</p>
        <%= link_to "AugustWine.pdf", target: '_blank', class: 'menuLink' do %>
          <%= image_tag('AugustWine.png', alt: 'Upcoming Wine Dinner at Ginny Lane') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>