<% content_for :title do %>
Monthly Wine Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts regular wine pairings. Don't miss these delicious events!
<% end %>


<!-- <div class="pairing-with-image"> -->
  <div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
      <div class="custom-tb">
        <h1 class="shadow-mod">Flavors of France</h1>
        <div class="col-xs-12">
          <h3 class="shadow-mod">
            Hosted by Pinnacle Imports<br>
            February 27 <span class="span1">&nbsp;&middot;&nbsp;</span> 
            6pm <span class="span1">&nbsp;&middot;&nbsp;</span> 
            $50 per guest<br>Music By Cello Salad
          </h3>
        </div>
      </div>
    </section>
  </div>

  <div class="page-content pairing-1">
    <div class="container">
      <div class="row">
        <div class="h2s">
          <p>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
          <hr>
        </div>

        <div class="solo food-menus">
          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">1st Course</h3>
            <div class="service-box-2">
              <h4><strong>Baked Cava Oysters</strong></h4>
              <h5>Baked Oysters on the Half Shell, Topped with Prosciutto and Cava Sauce</h5>
              <p>Paired with</p>
              <h4><strong>Les Hauts de Lagarde Blanc-Sec, France '23</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
            <div class="service-box-2">
              <h4><strong>Gulf Shrimp &amp; Avocado Toast</strong></h4>
              <h5>Rye Bread, Blackened Gulf Shrimp, Avocado, Shredded Mozzarella, Salsa Verde, Tomato and Cucumber Salad</h5>
              <p>Paired with</p>
              <h4><strong>Les Hauts de Lagarde Rose, France '20</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
            <div class="service-box-2">
              <h4><strong>Lamb Lollipops</strong></h4>
              <h5>Smoky Creamed Kale and Quinoa, Tomato Bourbon Jam</h5>
              <p>Paired with</p>
              <h4><strong>Les Hauts de Lagarde Rouge, France '21</strong></h4>
            </div>
          </div>
          <div class="clearfix"></div><hr>

          <div class="col-md-12">
            <h3 class="text-center" style="font-weight:bold">4th Course</h3>
            <div class="service-box-2">
              <h4><strong>Mini French Apple Tart</strong></h4>
              <h5>Flaky Pastry with Apricot Jam, Sweet and Tart Apples, Finished with Powdered Sugar</h5>
              <p>Paired with</p>
              <h4><strong>Pizzolato Moscato, Treviso Italy '20</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
<div class="clearfix"></div>