<% content_for :title do %>
Daily Specials at Orange Beach, AL Seafood Restaurant 
<% end %>
<% content_for :description do %>
Keep up with Ginny Lane's specials, &amp; never miss one of our great deals.
<% end %>


<div class="specialsPage multi__XX">
  <section class="simplePt red bmargin0">
    <div class="inner">
      <h1>Check Out Our New Specials!</h1>
      <p class="instr">Click an image below to view larger version.</p>
    </div>
  </section>

  <div class="foodWrap">
    <div class="insideAlt fwInner">
      <div class="fullSec mtop hasSticky">
        <div class="item combo__XX__i1 boxShadow">
          <%= link_to "HappyHour.pdf", target: '_blank', class: 'menu-link menuBg' do %>
            <%= image_tag('happyHour.png', class: 'img-responsive', alt: "Ginny Lane Happy Hour Menu") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>