<% content_for :title do %>
Daily Specials at Orange Beach, AL Seafood Restaurant 
<% end %>
<% content_for :description do %>
Keep up with Ginny Lane's specials, &amp; never miss one of our great deals.
<% end %>


<!-- FOOTBALL SEASON STYLE DIV. DELETE class AFTER SEASON FOR RESET -->
<div class="specialsPage">
  <section class="simplePt red">
    <div class="inner">
      <h1>Enjoy Our Specials</h1>
      <!-- <h2>Enjoy Daily from 3-6pm</h2> -->
      <!-- We also offer 25 cent Cocktails Monday-Friday 11-4! -->
    </div>
  </section>

  <div class="page-content tpadding0">
    <div class="container">
      <div class="specialsList bar">
        <h4><span>Happy Hour Specials</span></h4>
        <p class="dets">Served Daily from 3-6pm</p>
        <ul>
          <li>$3 Pints of Miller and Yuengling</li>
          <li>$4 House Wine</li>
          <li>$1 Off Other Alcohol Drinks</li>
        </ul>


        <h4 class="top"><span>25¢ Martinis</span></h4>
        <p class="dets">Offered Monday-Friday 11am-4pm<br><span>*1 per person, per day</span></p>
        <ul>
          <li><b>COSMO</b> ... Vodka, Triple Sec, Cranberry & Fresh Lime</li>
          <li><b>THE SUNSET</b> ... Rum & Pineapple</li>
          <li><b>BLUE WAVE</b> ... Tequila, Blue Curacao, Sour Mix, Salted Rim</li>
        </ul>

        <h4 class="top"><span>25¢ Cocktails</span></h4>
        <p class="dets">Offered Monday-Friday 11am-4pm<br><span>*1 per person, per day</span></p>

        <!-- <h4 class="top"><span>Food Specials</span></h4>
        <ul>
          <li>BBQ Brisket Sandwich ... $8</li>
          <li>Spicy Tempura Vegetable Plate ... $9</li>
          <li>Goat Cheese Croquette with Fruit and Prosciutto ... $8</li>
          <li>Mako Fries ... $8</li>
        </ul> -->
      </div>
      <div class="border"></div>
    </div>
  </div>
</div>