<% content_for :title do %>
Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>

<div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
        <div class="custom-tbx">
            <h1>Murder Creek Moonshine Dinner</h2>
            <h3 class="shadow-mod">Featuring Murder Creek Distillery | Brewton, AL</h3>
            <hr class="half">
            <div class="col-xs-12 text-center">
                <h3 class="shadow-mod">Thursday, May 22nd, 6pm<br> $40 per guest</h3>
                <!-- <h4 class="shadow-mod">Call For Your Reservations:<br>251-224-6500</h4> -->
            </div>
        </div>
    </section>
</div>


    <div class="page-content pairing-1">
        <div class="row">
            <div class="h2s text-center">
                <h3>Call For Reservations: 251-224-6500</h3>
                <hr class="half">
            </div>

            <div class="col-md-12 col-xs-12">
                <h3 class="burg-text text-center">1st Course</h3>
                <div class="service-box-2">
                    <h4><strong>Pine Nut Crusted Chicken</strong></h4>
                    <h5>Butternut Squash Puree, Roasted Poblano Sauce </h5>
                    <p>Paired With:</p>
                    <h5><b>Murder Creek Moonshine </b></h5>
                    <h5>with Fresh Citrus Juice and Agave Nectar, Muddled Basil</h5>
                </div>
            </div>

            <hr class="half">

            <div class="col-md-12 col-xs-12">
                <h3 class="burg-text text-center">2nd Course</h3>
                <div class="service-box-2">
                    <h4><strong>Pan Seared Grouper </strong></h4>
                    <h5>Fresh Peach Chutney, Smoked Gouda Grits, Mint Tzatziki Sauce</h5>
                    <p>Paired With:</p>
                    <h5><b>Murder Creek Peach Moonshine and Ginger Beer</b></h5>
                </div>
            </div>

            <hr class="half">

            <div class="col-md-12 col-xs-12">
                <h3 class="burg-text text-center">3rd Course</h3>
                <div class="service-box-2">
                    <h4><strong>Teriyaki Marinated Pork Shanks</strong></h4>
                    <h5>Collard Greens, Applewood Smoked Bacon </h5>
                    <p>Paired With:</p>
                    <h5><b>Murder Creek Apple Moonshine</b></h5>
                    <h5>Apple Juice, Fresh Lemon, Splash Soda</h5>
                </div>
            </div>

            <hr class="half">

            <div class="col-md-12 col-xs-12">
                <h3 class="burg-text text-center">4th Course</h3>
                <div class="service-box-2">
                    <h4><strong>Strawberry and Cream Shortcake</strong></h4>
                    <p>Paired With:</p>
                    <h5><b>Murder Creek Chocolate Moonshine Martini </b></h5>
                </div>
            </div>
        </div>
    </div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
