<% content_for :title do %>
Special Events
<% end %>
<% content_for :description do %>
Join us for a holiday beer tasting on December 13th!
<% end %>


<div class="seLayout holiBeer ltBg">
  <div class="seWrap">
    <div class="fullRow shadow">
      <div class="fullRow hdWrap">
        <h1>Holiday Beer Tasting</h1>
        <div class="clearfix"></div><hr class="hr1" /><div class="clearfix"></div>
        <h3>December 13th <span class="dot d1"></span> 6pm<br class="br1"> <span class="dot d2"></span> $20 per guest</h3>
        <p class="res">Call For Reservations:<br> <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>
        <div class="clearfix"></div><hr class="hr2" /><div class="clearfix"></div>
      </div>

      <div class="fullRow seBody">
        <div class="fullRow course">
          <h3 class="text-center" style="font-weight:bold">First Pairing</h3>
          <h4><b>Holiday Ale</b><br>New Belgium Brewing Company, Asheville, NC</h4>
          <p>Passed Apps</p>
          <h5><b>Bacon Wrapped Date</b><br> Stuffed with Goat Cheese</h5>
          <h5><b>Jalapeño Popper Bruschetta</b><br> With Cream Cheese, Fresh &amp; Candied Jalapeños</h5>
        </div>
 
        <div class="fullRow course">
          <h3 class="text-center" style="font-weight:bold">Second Pairing</h3>
          <h4><b>Winter Lager</b><br>Samuel Adams Boston Brewery, Boston, MA</h4>
          <p>Passed Apps</p>
          <h5><b>Kickin' Chicken Slider</b><br>Served with Pickles &amp; Citrus Pepper Jam</h5>
          <h5><b>Truffle Deviled Eggs</b><br>Topped with Paprika &amp; Cinnamon</h5>
        </div>

        <div class="fullRow course">
          <h3 class="text-center" style="font-weight:bold">Third Pairing</h3>
          <h4><b>Shiner Holiday Cheer</b><br>Spoetzl Brewery, Shiner, TX</h4>
          <p>Passed App</p>
          <h5><b>Grilled Peaches</b><br>Filled with Mascarpone Cheese, &amp; Topped with Candied Pecans</h5>
        </div>        
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>