<% content_for :title do %>
Special Events
<% end %>
<% content_for :description do %>
The Wharf Restaurant Group & Iconic Entertainment are proud to present the Spring Gala! Read through event details, and purchase your ticket!
<% end %>

<div class="se-layout">
  <div class="mgHeader">
    <h1>The Wharf Restaurant Group &amp;<br> Iconic Entertainment are proud to present</h1>
    <h2>Spring Gala</h2>
    <h3>April 23th &middot; 6pm-10pm</h3>

    <div class="overview">
      <h4>VIP: $85 &nbsp;<span>&middot;</span>&nbsp; General Admission: $60</h4>
      <p>Step into Spring with this amazing Gala! We will have <b>live music and art exibitions, wine tastings, heavy hors d'oeuvres, raffles for prizes, and much more!</b> Read through the flyer below for more information, and purchase your tickets today!</p>
      <!-- Featuring Delicato Family Wines -->
    </div>

    <div class="link-row"><a href="https://www.eventbrite.com/e/spring-gala-uncorked-tickets-310554074597" target="_blank" class="glBtn">Get Tickets</a></div>

    

    <div class="imgRow">
      <!-- <p class="instr">Click flyer to purchase tickets</p> -->
      <!-- <a href="https://www.eventbrite.com/e/spring-gala-uncorked-tickets-310554074597" target="_blank" class="imgLink"> -->
      <div class="imgLink">
        <%=image_tag('springGala.jpg', alt: 'Ginny Lane Grille Family Meals, Takeout in Orange Beach, Al', class: 'img-responsive')%>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>