<% content_for :title do %>
Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>

<div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
        <div class="custom-tbx">
            <h1 class="shadow-mod">January Wine Dinner</h1>
            <h3 class="shadow-mod">Hosted by Alabama Crown<br> Featuring Black Stallion Estate Winery</h3>
            <hr class="half">
            <div class="col-xs-12 text-center">
                <h3 class="shadow-mod">Thursday, January 16th, 6pm<br> $40 per guest</h3>
            </div>
        </div>
    </section>
</div>


<div class="page-content pairing-1">
    <div class="container">
        <div class="row">
            <div class="h2s">
                <h3>Call For Reservations: 251-224-6500 (ex.1)</h3>
                <hr>
            </div>

            <div class="solo food-menus">
                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">1st Course</h3>
                    <div class="service-box-2">
                        <div class="service-box-2">
                          <h4><strong>Jumbo Grilled Shrimp </strong></h4>
                            <h5>Seasoned with Caribbean Spices, Served Over Sautéed Spinach, Pineapple and Dried Apricot Salsa </h5>
                            <p>Paired with:</p>
                            <h4><strong>Black Stallion Chardonnay, Napa Valley, CA ‘18</strong></h4>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Slow Roasted Baby Back Ribs</strong></h4>
                        <h5>Sweet Cherry BBQ Sauce, Sweet Onion and Cauliflower Puree, Fried Parsnips </h5>
                        <p>Paired with:</p>
                        <h4><strong>Black Stallion Pinot Noir, Los Carneros, CA ‘18</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Lamb Stuffed Bell Peppers </strong></h4>
                        <h5>Gruyére Polenta, Fire Roasted Tomato Sauce </h5>
                        <p>Paired with:</p>
                        <h4><strong>Black Stallion Cabernet Sauvignon, Napa Valley, CA ‘16</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">4th Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Panforte </strong></h4>
                        <h5>Italian Dessert with Fruits and Nuts</h5>
                        <p>Paired with:</p>
                        <h4><strong>Black Stallion Sauvignon Blanc, Napa Valley, CA ‘18</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
