<% content_for :title do %>
Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>

<div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
        <div class="custom-tbx">
            <h1 class="shadow-mod">Ginny Lane Holiday Brunch</h1>
            <!-- <h3 class="shadow-mod">Hosted by International Wines<br> Featuring Wines from Portugal</h3> -->
            <hr class="half">
            <div class="col-xs-12 text-center">
                <h3 class="shadow-mod">Sunday, December 29th, 11am<br> $40 per guest</h3>
            </div>
        </div>
    </section>
</div>


<div class="page-content pairing-1">
    <div class="container">
        <div class="row">
            <div class="h2s">
                <h3>Call For Reservations: 251-224-6500</h3>
                <hr>
            </div>

            <div class="solo food-menus">
                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">1st Course</h3>
                    <div class="service-box-2">
                        <h4><strong>Blueberry &amp; Strawberry Oatmeal Bars</strong></h4>
                        <h5>Chilled Banana Custard </h5>
                        <p>Paired with:</p>
                        <h4><strong>Fresh Squeezed Orange Juice &amp; Strawberry Mimosa </strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
                    <div class="service-box-2">
                        <h4><strong>Smoked Salmon, Asparagus &amp; Ricotta Roll Ups</strong></h4>
                        <h5>Spinach Salad, Mustard Seed &amp; Maple Glazed Carrots, Orange Champagne Vinaigrette </h5>
                        <p>Paired with:</p>
                        <h4><strong>Grapefruit Thyme Fizz</strong></h4>
                        <h5>Vodka, Fresh Grapefruit Juice, Housemade Thyme Syrup, Topped with Brut &amp; Thyme Sprig</h5>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
                    <div class="service-box-2">
                        <h4><strong>Brisket &amp; Chorizo Fingerling Hash</strong></h4>
                        <h5>With Peppadews &amp; Onions, Shrimp &amp; Grit Cake, Topped with Fried Egg &amp; Southwestern Crème</h5>
                        <p>Paired with:</p>
                        <h4><strong>Jalapeno, Lime, &amp; Cilantro Bloody</strong></h4>
                        <h5>House made Bloody Mary Mix, Elizabeth Vodka, 18.21 Jalapeño Lime Cilantro Syrup </h5>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">4th Course</h3>
                    <div class="service-box-2">
                        <h4><strong>Cinnamon Roll Bread Pudding</strong></h4>
                        <h5>Candied Pecans &amp; Whiskey Cream</h5>
                        <p>Paired with:</p>
                        <h4><strong>Espresso Martini </strong></h4>
                        <h5>Foam Coffee Espresso, Patron XO Café, Godiva White Chocolate Liqueur </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div>
