<% content_for :title do %>
Pairings
<% end %>
<% content_for :description do %>
The Wharf Restaurant Group & Iconic Entertainment are proud to present the Mardi Gras Carnival Ball! This event will take place at Ginny Lane Bar & Grill on January 29th at 7pm.
<% end %>

<div class="se-layout">
  <div class="mgHeader">
    <h1>The Wharf Restaurant Group &amp;<br> Iconic Entertainment are proud to present</h1>
    <h2>Spring Gala</h2>
    <h3>Featuring Delicato Family Wines<br>April 23th 6pm - 10pm<br>
      VIP: $85 &nbsp; | &nbsp; General Admission: $60
    </h3>
    <div class="link-row"><a href="https://www.eventbrite.com/e/spring-gala-uncorked-tickets-310554074597" target="_blank" class="glBtn">Get Tickets</a></div>

    <div class="overview">
      <p>Step into Spring with this amazing Gala! We will have live music and art exibitions, wine tastings, heavy hors d'oeuvres, raffles for prizes, and much more! </p>
    </div>

    <a href="https://www.eventbrite.com/e/spring-gala-uncorked-tickets-310554074597" target="_blank" class="imgRow">
      <p class="instr">Click flyer below to purchase tickets</p>
      <%=image_tag('springGala.jpg', alt: 'Ginny Lane Grille Family Meals, Takeout in Orange Beach, Al', class: 'img-responsive')%></a>
  </div>
</div>
<div class="clearfix"></div>