<% content_for :title do %>
Orange Beach, AL Seafood Restaurant Daily Specials
<% end %>
<% content_for :description do %>
Keep up with Ginny Lane's specials, &amp; never miss one of our great deals.
<% end %>


<!-- FOOTBALL SEASON STYLE DIV. DELETE class AFTER SEASON FOR RESET -->
<div class="specialsPage">
  <section class="page-title-bar">
  	<div class="col-md-6 col-md-offset-3 col-sm-12">
  		<div class="heading-box">
  			<h2 class="dev">Ginny Lane</h2>
        <h1>Specials</h1>
        <h3>Click on the menu below to view/download a larger version.</h3>
	    </div>
    </div>
  </section>

  <div class="page-content altSize">
    <div class="container">
      <%= link_to "GL-HappyHour.pdf", target: '_blank', class: 'menu-link' do %>
        <%= image_tag('menu-happyHour.png', class: 'img-responsive fullMenuImg', alt: "Ginny Lane's Happy Hour Specials") %>
      <% end %> 
      <div class="border" />
    </div>
  </div>
</div>