<% content_for :title do %>
Pairings
<% end %>
<% content_for :description do %>
The Wharf Restaurant Group & Iconic Entertainment are proud to present the Mardi Gras Carnival Ball! This event will take place at Ginny Lane Bar & Grill on January 29th at 7pm.
<% end %>

<div class="mardiGras">
  <div class="mgHeader">


    <h1>The Wharf Restaurant Group &amp;<br> Iconic Entertainment are proud to present</h1>
    <h2>Mardi Gras Carnival Ball</h2>
    <h3>January 29th 7pm - until<br>$50 per ticket</h3>
    <a href="https://www.eventbrite.com/e/mardi-gras-carnival-ball-tickets-228430059457?fbclid=IwAR0xrGTt-7rY6pNcHb1n4dH5hsPtNUdAR00W4MiJ86DT2zef-JOjwdKb844" target="_blank" class="glBtn">Get Tickets</a>

    <div class="overview">
      <p>Each Ticket Includes:<br> 2 Complimentary Themed Cocktails (Cash Bar Also Available)<br>
      Heavy Hors D'oeuvres, Inspired by the Flavors of the Big Easy! </p>

      <ul>
        <li>Live Performers:<br> Fire Spinning, Belly Dancing, and Stilt Walking! </li>
        <li>We will also have raffles for various prizes &amp; carnival games! </li>
        <li>The Platinum Premier Band will bring the funk all night long! </li>
      </ul>

      <p>Limited tables available and must be purchased as a add on with your tickets.</p>
    </div>

    <%=image_tag('mardigras.png', alt: 'Ginny Lane Grille Family Meals, Takeout in Orange Beach, Al', class: 'img-responsive')%>
  </div>
</div>
<div class="clearfix"></div>