<% content_for :title do %>
Pairings
<% end %>
<% content_for :description do %>
The Wharf Restaurant Group & Iconic Entertainment are proud to present the Mardi Gras Carnival Ball! This event will take place at Ginny Lane Bar & Grill on January 29th at 7pm.
<% end %>

<div class="mardiGras">
  <div class="mgHeader">
    <h1>The Wharf Restaurant Group &amp;<br> Iconic Entertainment are proud to present</h1>
    <h2>Mardi Gras Carnival Ball</h2>
    <h3>January 29th 7pm - until<br>$50 per ticket</h3>
    <a href="https://www.eventbrite.com/e/mardi-gras-carnival-ball-tickets-228430059457?fbclid=IwAR0xrGTt-7rY6pNcHb1n4dH5hsPtNUdAR00W4MiJ86DT2zef-JOjwdKb844" target="_blank" class="glBtn">Get Tickets</a>

    <div class="overview">
      <p><b>Each Ticket Includes:</b><br> 2 Complimentary Themed Cocktails (Cash Bar Also Available)<br>
      Heavy Hors D'oeuvres, Inspired by the Flavors of the Big Easy! </p>

      <p><b>Live Performers:</b><br> Fire Spinning, Belly Dancing, and Stilt Walking!</p>
      <p><b>We Will Also Have:</b><br> Raffles for Various Prizes &amp; Carnival Games!</p>
      <p>The Platinum Premier Band will bring the funk all night long!</p>

      <p><b>Limited tables available and must be purchased as a add on with your tickets.</b></p>
    </div>

    <a href="https://www.eventbrite.com/e/mardi-gras-carnival-ball-tickets-228430059457?fbclid=IwAR0xrGTt-7rY6pNcHb1n4dH5hsPtNUdAR00W4MiJ86DT2zef-JOjwdKb844" target="_blank" class="imgRow">
      <p class="bmargin0">Click flyer below to purchase tickets</p>
      <%=image_tag('mardigras.png', alt: 'Ginny Lane Grille Family Meals, Takeout in Orange Beach, Al', class: 'img-responsive')%></a>
  </div>
</div>
<div class="clearfix"></div>