<% content_for :title do %>
Special Events
<% end %>
<% content_for :description do %>
The Wharf Restaurant Group is proud to present the 2nd annual Mardi Gras Carnival Ball! This event will take place at Ginny Lane Bar & Grill on February 3rd at 6pm.
<% end %>

<!-- 

We are so excited to host our 2nd annual Mardi Gras ball on Friday February 3rd from 6 to 10 pm!  
Come join us for a night of fun and excitement featuring The Six Piece Suits and the fabulous La Santa Damiana! Please get your tickets while they last at :    or visit the event page for more information!

The Wharf Restaurant Group is proud to present, Mardi Gras Carnival Ball! 
This event will take place at Ginny Lane Bar & Grill on February 3rd 6pm - until..


 -->


<div class="mardiGrasXX mardiGras23">
  <div class="mgHeader">
    <div class="fullRow shadow">
      <h2>The Wharf Restaurant Group is Proud to Present</h2>
      <h1>The 2nd Annual<br> Mardi Gras Carnival Ball</h1>

      <div class="clearfix"></div><hr class="hr1" /><div class="clearfix"></div>
      <h3>February 3rd <span class="dot"></span> 6pm - Until...<br>$75 General Admission <span class="dot"></span> $90 VIP Tickets </h3>
      <div class="fullRow btnRow b1"><a href="https://ginny-lanes-mardi-gras-ball.cheddarup.com" target="_blank" class="glBtn">Get Tickets</a></div>

      <div class="clearfix"></div><hr class="hr2" /><div class="clearfix"></div>
      <div class="fullRow mgBody">
          <p class="bmargin0 s1"><b>Each Ticket Includes:</b>
            <br>3 Complimentary Themed Cocktails<br> <span>(Cash Bar Also Available)</span></p>
          <p class="s1">Heavy Hors D'oeuvres<br> <span>Inspired by the Flavors of the Big Easy!</span></p>

          <p><b>Live Performers:</b><br> Stilt Walking &amp; Readings!</p>
          <p><b>We Will Also Have:</b><br> Raffles for Various Prizes &amp; Carnival Games!</p>
          <p class="bold">The Six Piece Suits will bring the funk all night long!</p>

          <p class="bold">Limited tables available, so get your tickets now!</p>


          <div class="fullRow btnRow b2"><a href="https://ginny-lanes-mardi-gras-ball.cheddarup.com" target="_blank" class="glBtn">Get Tickets</a></div>

        <!-- <a href="https://ginny-lanes-mardi-gras-ball.cheddarup.com" target="_blank" class="imgRow">
          <p class="bmargin0">Click flyer below to purchase tickets</p>
          <=image_tag('mardigras.png', alt: 'Ginny Lane 2023 Mardi Gras Ball', class: 'img-responsive')%>
        </a> -->
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>