<% content_for :title do %>
Pairings
<% end %>
<% content_for :description do %>
Ginny Lane hosts beer and wine pairings regularly. Don't miss these delicious events!
<% end %>

<div id="page-title" class="pt-bkg-image image-3">
    <section class="title-container less">
        <div class="custom-tbx">
            <h1 class="shadow-mod">Valentine’s Eve Wine Dinner</h1>
            <h3 class="shadow-mod">Hosted by International Wines<br> Featuring Wines from Spain</h3>
            <hr class="half">
            <div class="col-xs-12 text-center">
                <h3 class="shadow-mod">Thursday, February 13th, 6pm<br> $40 per guest</h3>
            </div>
        </div>
    </section>
</div>


<div class="page-content pairing-1">
    <div class="container">
        <div class="row">
            <div class="h2s">
                <h3>Call For Reservations: <a class="tel" href="tel:+12512246500">251-224-6500 ext. 1</a></h3>
                <hr>
            </div>

            <div class="solo food-menus">
                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">1st Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Flash Fried Squid</strong></h4>
                        <h5>Avocado and Corn Relish, With Braised Lentils</h5>
                        <p>Paired with:</p>
                        <h4><strong>Kila Cava, Vins El Cep, S.A, 2017 Spain</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">2nd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Red Snapper Ceviche</strong></h4>
                        <h5>Garlic and Parmesan Lavash</h5>
                        <p>Paired with:</p>
                        <h4><strong>La Caña Albariño, Rias Baixas, Spain ‘17</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">3rd Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Roasted Veal Loin</strong></h4>
                        <h5>Eggplant Caponata, Glazed Fennel Mashed Potatoes</h5>
                        <p>Paired with:</p>
                        <h4><strong>Protocolo Tinto 100% Tempranillo, Manchuela, Spain ‘17</strong></h4>
                    </div>
                </div>
                <hr>

                <div class="col-md-12">
                    <h3 class="text-center" style="font-weight:bold">4th Course</h3>
                    <div class="service-box-2">
                      <h4><strong>Chocolate Hazelnut Cake</strong></h4>
                        <h5>Chocolate Covered Cherries </h5>
                        <p>Paired with:</p>
                        <h4><strong>Garnacha de Fuego, Vino de Aragon, Spain ‘18</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="clearfix"></div><div class="col-xs-12"><div class="hr-png-6"></div></div> -->
