<% content_for :title do %>
Super Bowl 2022
<% end %>
<% content_for :description do %>
It's time for Ginny Lane's Annual Mother-Son, Valentine's Day Dinner. Bring your favorite guy, and enjoy a great night!
<% end %>

<!-- <div id="page-title" class="pt-bkg-image XXimage-ms-vday">
  <section class="title-container less">
    <div class="custom-tbx"></div>
  </section>
</div> -->

<div class="event superbowl">
  <div class="container">
    <div class="imgRow">
      <%= image_tag('SuperBowl.png', class: 'img-responsive', alt: "Super Bowl Sunday at Ginny Lane") %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
