<% content_for :title do %>
Spend Thanksgiving at Ginny Lane
<% end %>
<% content_for :description do %>
Enjoy your Thanksgiving meal at Ginny Lane Bar & Grill! Call today to make reservations.
<% end %>


<div class="simpleHeader eventsGen thanks">
  <h1>Celebrate Thanksgiving<br> <span>at Ginny Lane</span></h1>
</div>

<div class="page-content pairing-1xx less">
  <div class="container cwrap">
    <p>Click the menu below to see a larger version. <br class="one">Call Today For Reservations:<br class="two"> <a class="tel" href="tel:+12512246500">251-224-6500 (ext. 1)</a></p>

    <div class="inside">
      <%= link_to "ThanksgivingMenu.pdf", target: '_blank', class: 'menuLink' do %>
        <%= image_tag('menuThanksgiving.png', class: 'img-responsive', alt: 'Thanksgiving menu at Ginny Lane') %>
      <% end %>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<hr/>