<div class="cbp-caption sandwich">
    <div class="cbp-caption-defaultWrap">
        <h4>Sandwiches - $12 </h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item text-center">
                <p>*All sandwiches served with fries or coleslaw</p>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Fish Tacos</h4>
                    <p>Blackened Fish, Romaine Lettuce, Pico De Gallo, and Jalapeno Cream Sauce </p>
                </div>

                <div class="menu-item">
                    <h4>Shrimp PoBoy</h4>
                    <p>Gulf Fried Shrimp, Lettuce, Tomato and Tarter Sauce. Served on French Baguette </p>
                </div>

                <div class="menu-item">
                    <h4>Ginny Lane Burger</h4>
                    <p>Grilled to Order. Topped with Lettuce, Tomato, Onion and Mayonnaise on a Brioche Bun </p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Shrimp BLT</h4>
                    <p>Grilled Shrimp, with Spinach, Tomato, Applewood Smoked Bacon, Mozzarella Cheese and Creole Remolade on Ciabatta </p>
                </div>

                <div class="menu-item">
                    <h4>Asian Chicken Wrap</h4>
                    <p>Grilled Chicken, Lettuce, Carrots, Green Onion, Red Cabbage, Crispy Wonton Strips & Mandarin Oranges Tossed With Sesame Vinaigrette </p>
                </div>

                <div class="menu-item">
                    <h4>Fish Sandwich</h4>
                    <p>Pan Seared Fish of the Day, Lettuce Onion, Tomato, Tartar Sauce on Ciabatta Bread </p>
                </div>

                <div class="menu-item">
                    <h4>Buffalo Shrimp Wrap</h4>
                    <p>Buffalo Shrimp with Lettuce and Tomatoes. Served with a side of Ranch for Dipping </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption sides">
    <div class="cbp-caption-defaultWrap">
        <h4>Sides</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <p>French Fries - $2<br>
                    Cole Slaw - $2<br>
                    Mashed Potatoes - $2<br>
                    Gouda Smashed Red Potatoes - $2<br>
                    Asparagus - $3<br>
                    Green Beans - $2<br>
                    Brussel Sprouts - $3<br>
                    Rice Pilaf - $3<br>
                    Risotto - $4<br>
                    Cheddar Grits - $3
                </p>
            </div>
        </div>
    </div>
</div>



<div class="cbp-caption dsrt">
    <div class="cbp-caption-defaultWrap">
        <h4>Desserts - $8</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4>Lava Cake</h4>
                <p>Warm Chocolate Cake Flowing with Chocolate Ganache. Served with Vanilla Ice Cream, Fresh Berries and Whip Cream</p>
            </div>

            <div class="menu-item">
                <h4>White Chocolate Bread Pudding</h4>
                <p>Warm House Made White Chocolate Bread Pudding, Served with White Chocolate Sauce and Fresh Berries</p>
            </div>

            <div class="menu-item">
                <h4>Key Lime Pie</h4>
                <p>Authentic House Made Key Lime Pie, with Graham Cracker Crust. Topped with Kiwi Lime sauce, Fresh Berries and Whip Cream</p>
            </div>

            <div class="menu-item">
                <h4>Cheesecake</h4>
                <p>Fresh Everyday. See Server for Details </p>
            </div>
        </div>
    </div>
</div>
