<div class="cbp-caption sides">
    <div class="cbp-caption-defaultWrap">
        <h4>Sides</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4>French Fries - $2<br>
                    Cole Slaw - $2<br>
                    Mashed Potatoes - $2<br>
                    Gouda Smashed Red Potatoes - $2<br>
                    Green Beans - $2<br>
                    Asparagus - $3<br>
                    Brussel Sprouts - $3<br>
                    Rice Pilaf - $3<br>
                    Cheddar Grits - $3 <br>
                    Hush Puppies - $3 <br>
                    Risotto - $4<br>
                    Fried Okra - $4
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption dsrt">
    <div class="cbp-caption-defaultWrap">
        <h4>Desserts - $8</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4>Lava Cake</h4>
                <p>Warm Chocolate Cake Flowing with Chocolate Ganache. Served with Vanilla Ice Cream, Fresh Berries and Whipped Cream</p>
            </div>

            <div class="menu-item">
                <h4>Bread Pudding</h4>
                <p>Warm House Made Bread Pudding. Served with White Chocolate Sauce and Fresh Berries</p>
            </div>

            <div class="menu-item">
                <h4>Key Lime Pie</h4>
                <p>Authentic House Made Key Lime Pie, with Graham Cracker Crust. Topped with Kiwi Lime sauce, Fresh Berries, and Whipped Cream</p>
            </div>

            <div class="menu-item">
                <h4>Cheesecake</h4>
                <p>Fresh Everyday. Ask Server for Details</p>
            </div>
        </div>
    </div>
</div>
