<div class="cbp-caption first">
    <div class="cbp-caption-defaultWrap">
        <h4>Starters</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="col-md-6 col-xs-12">
                <div class="menu-item">
                    <h4>Loaded Nachos</h4>
                    <div class="menu-price">
                        <p>$12</p>
                    </div>
                    <p>Seasoned Ground Beef, Queso Cheese, Jalapenos, Pico de Gallo, Sour Cream, Black Olives, Lettuce, Guacamole, House Made Tortilla Chips</p>
                </div>

               <div class="menu-item">
                 <h4>Peel and Eat Shrimp</h4>
                 <div class="menu-price">
                     <p>1/2lb - $12 &nbsp; | &nbsp; 1lb - $18</p>
                 </div>
                 <p>Steamed Shell-on Shrimp. With Old Bay, Cocktail, and Hot Butter</p>
               </div>

               <div class="menu-item">
                 <h4>Fried Green Tomatoes and Blackend Shrimp</h4>
                 <div class="menu-price">
                     <p>$12</p>
                 </div>
                 <p>Blackened Shrimp over Fried Green tomatoes topped with Creole Remolade </p>
               </div>

               <div class="menu-item">
                 <h4>Spinach Artichoke Dip</h4>
                 <div class="menu-price">
                     <p>$10</p>
                 </div>
                 <p>Fresh Spinach and Artichokes, Cream Cheese, Sour Cream and Green Onions. Served with House Made Tortilla Chips</p>
               </div>
             </div>

            <div class="col-md-6 col-xs-12">
              <div class="menu-item">
                <h4>Cheese Plate</h4>
                <div class="menu-price">
                    <p>$16</p>
                </div>
                <p>Gorgonzola, Honey Drizzled Brie, Smoked Gouda, and Manchego Cheese. Served with Fresh Fruit, Spiced Pecans and Crackers</p>
              </div>

              <div class="menu-item">
                <h4>Buffalo Wings</h4>
                <div class="menu-price">
                    <p>$12</p>
                </div>
                <p>Tossed in your choice of Buffalo, BBQ, or Sweet Chili Sauce. Served with Bleu Cheese or Ranch and Celery</p>
              </div>

              <div class="menu-item">
                <h4>Chips and Cheese Dip</h4>
                <div class="menu-price">
                    <p>$6</p>
                </div>
                <p>House Made Tortilla Chips. Served with Hot Cheese For dipping</p>
              </div>

              <div class="menu-item">
                <h4>Burrata Caprese</h4>
                <div class="menu-price">
                    <p>$10</p>
                </div>
                <p>Fresh Tomatoes, Burrata Cheese, Balsmamic Reduction, Fresh Basil. Served with Crostinis</p>
              </div>

              <div class="menu-item">
                <h4>Crab Stuffed Mushrooms</h4>
                <div class="menu-price">
                    <p>$12</p>
                </div>
                <p>Mushroom Caps stuffed with Crab, Garlic, Parsley, Manchego Cheese and Butter</p>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption second">
    <div class="cbp-caption-defaultWrap">
        <h4>Oysters</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="col-md-4 col-xs-12">
              <div class="menu-item">
                    <h4>Raw on the Half Shell </h4>
                    <div class="menu-price">
                        <p> Order of 12 - $12</p>
                    </div>
                    <p>Served with Horseradish and Cocktail Sauce</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="menu-item">
                    <h4>Baked Bacon Cheddar </h4>
                    <div class="menu-price">
                        <p> Order of 8 - $16</p>
                    </div>
                    <p>Topped with Bacon, Cheddar, Green Onion and Jalapeno Cream Sauce</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="menu-item">
                    <h4>Baked Garlic Butter</h4>
                    <div class="menu-price">
                        <p>Order of 8 - $16</p>
                    </div>
                    <p>Topped with Roasted Garlic Butter, Lemon, and Herbs </p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-4 col-xs-12">
              <div class="menu-item">
                    <h4>Baked Shrimp Bienville</h4>
                    <div class="menu-price">
                        <p>Order of 8 - $16</p>
                    </div>
                    <p>Topped with Peppers, Onion, Shrimp Cream, Mozzarella, Parmesan</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="menu-item">
                    <h4>Baked Cajun Rockerfeller</h4>
                    <div class="menu-price">
                        <p>Order of 8 - $16</p>
                    </div>
                    <p>Topped with Spinach,Tazo Ham,Onion and Cajun Seasonings</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
              <div class="menu-item">
                    <h4>Baked Sampler</h4>
                    <div class="menu-price">
                        <p>Order of 8 - $16</p>
                    </div>
                    <p>Two of each. Baked Bacon Cheddar Oysters, Baked Garlic Butter Oysters, Baked Shrimp Bienville, and Baked Cajun Rockefeller</p>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption third">
    <div class="cbp-caption-defaultWrap">
        <h4>Salads and Soups</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <center>
                    <p>Add Shrimp: $5 | Add Chicken: $4</p>
                </center>
            </div>

            <div class="col-md-6 col-xs-12">
              <div class="menu-item">
                <h4>Garden</h4>
                <div class="menu-price">
                    <p>$6</p>
                </div>
                    <p>Spring Mix, Shaved Carrots, Red Cabbage, Red Onion, Marinated Tomatoes, Mozzarella Cheese, and House Made Croutons</p>
                </div>

              <div class="menu-item">
                <h4>Caesar</h4>
                <div class="menu-price">
                    <p>$7</p>
                </div>
                    <p>Romaine Lettuce, Parmesan Cheese, Marinated Tomatoes, House Made Croutons. Tossed in Caesar Dressing.</p>
                </div>

              <div class="menu-item">
                <h4>Pecan and Pear Salad</h4>
                <div class="menu-price">
                    <p>$10</p>
                </div>
                    <p>Spring Mix Goat Cheese Crumbles, Candied Pecans, Fresh Strawberries, Pear Slices. Served with Raspberry Vinaigrette</p>
                </div>

              <div class="menu-item">
                <h4>Asian Chicken Salad</h4>
                <div class="menu-price">
                    <p>$12</p>
                </div>
                    <p>Grilled Chicken, Lettuce, Red Cabbage, Crispy Wonton Strips, Carrots, Green Onion, Mandarin Oranges. Served with Sesame Vinaigrette</p>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <div class="menu-item">
                <h4>Seafood Gumbo</h4>
                <div class="menu-price">
                    <p>Cup - $7 &nbsp; | &nbsp; Bowl - $10</p>
                </div>
                    <p>Gulf Shrimp, Crawfish, Sausage, Bell Peppers, Tomatoes, Creole Seasoning. Topped with Rice and Green Onion</p>
                </div>

              <div class="menu-item">
                <h4>Soup of the Day</h4>
                <div class="menu-price">
                    <p>Cup - $5 &nbsp; | &nbsp; Bowl - $8</p>
                </div>
                    <p>Our Homemade Soup of the Day. Ask Server for details</p>
                </div>

              <div class="menu-item">
                <h4>Salad and Cup of Soup</h4>
                <div class="menu-price">
                    <p>$10</p>
                </div>
                    <p>Caesar or Garden Salad, with choice of Seafood Gumbo or Soup of the Day</p>
                </div>
            </div>
        </div>
    </div>
</div>
