// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.center-block {@include center-block();}
.page-content{@include center-block();}
.medDef{width:90%;max-width:1000px;@include center-block();}

p{font-size:16px;}


.togo-disc{@include sec-default(); text-align: center; padding: 15px 0; background-color:$red;margin-bottom: 10px;
	p{color:$white; font-size:19px; margin:0; line-height:1.5em; padding:0; font-weight:600; text-shadow: 0px 1px 2px rgba($black,.25); text-transform: uppercase;}

	@media (max-width:1200px) {
		p{width:80%; @include center-block();}
	}

	@media (max-width:639px) {
		p{width:90%;font-size:17px;}
	}
}
.family-meals {
  @include sec-default(); text-align: center; padding: 60px 0;
  @include sec-bgimage(); background-image: url(image_path('GL-LARGE-3180.jpg')); 
  background-size:cover;
  position: relative; z-index: 0;
  &::before{@include before(); background-color: rgba($white, .8); height:100%; z-index: -2;}
  &::after{@include before(); background-color: rgba($blue, .5); height:100%; z-index: -1;}

  h1{color: $burg; font-weight: bold; text-transform: uppercase; margin-bottom:0px;
  	a.tel{color: $navy;}
  	a.tel span{text-transform:none; color:inherit;}
  }
  h2{color: $navy; font-weight: bold; margin-bottom:0px; text-decoration: underline;}
  h3{margin:0 0 15px; font-size: 18px;}
  h4{color: $burg; font-weight: bold; margin-bottom:0px;}
  p{margin:0; font-size:17px; color:$black;}

  .item{@include sec-default(); margin-top:20px;}
  .item.uno{margin-top:0;}

  .deliverySec{@include sec-default(); text-align: center; padding: 15px 0 20px;
		hr{width: 30%; @include center-block(); margin: 20px auto; border-color: rgba($black,.15); }
		.deliveryLogo{display:inline-block; width:30%; max-width:175px; margin: 0 1%;
			vertical-align:top;
      &.narrow{margin-top:60px;}
      &.tall{max-width:150px;}
    }
	}

  @include bp(xl) {padding:25px 0 20px;
  	h1{font-size:25px;}
  	h2{font-size:23px;}
  	h3{font-size:17px; margin-bottom: 0px;}// width:85%; @include center-block();}
  	h4{font-size:18px;}
  	p{font-size: 16px;}//width:85%; @include center-block();}
  	.item{margin-top:12px;}

  	.deliverySec{padding:15px 0;
  		hr{margin:15px auto;}
  		.deliveryLogo{max-width:160px;
	      &.tall{max-width:110px;}
	     	&.narrow{margin-top:45px;} 
		  }
  	}
  }

  @media screen and (max-width: 823px){
  	h1{font-size:24px; line-height: 1.5em;}
  	h2{font-size:21px;}
  	h4{font-size:17px;}
  	p{font-size: 15px; padding-bottom: 5px;}
  	.deliverySec{padding:5px 0;}
  }

  @media screen and (max-width: 767px){
  	.container{padding:0; max-width:90%;}
  	h1{font-size:22px;}
  	h2{font-size:20px;}
  }

  @media screen and (max-width: 500px){
  	hr.top, br.large{display:none;}
  	h1{font-size: 21px;}
  	h2{font-size:19px;}
  	.deliverySec{margin-top:15px;
	  	.deliveryLogo.tall{max-width:100px;}
	  	.deliveryLogo.narrow{margin-top:35px;}
	  }
  }
}


.rest-week {
	@include sec-default();padding:40px;
	.arw-logo{display: inline-block;float: left; width: 15%;}
	.arw-menu{display: inline-block; width: 84%; padding-left: 30px;}
	p{color: $black; font-size: 17px;}
	h3 {font-weight: bold; margin-bottom: 25px;}

	@include bp(md) {
		h3 {margin-bottom: 15px;}
		p {font-size: 15px;}
		.arw-logo{@include center-block(); width: 20%; margin-bottom: 15px;}
		.arw-menu{@include center-block(); width: 90%; padding-left: 0px;}
	}
}
hr.half{ width:50%;@include center-block();}

/*****************SPECIAL**********************/
.page-title-bar {
	@include sec-default ();
	background-color: $lt-blue;
	padding: 25px 0;
	text-align:center;
	@include sec-bgimage ();
	background-image: url(image_path('stage-dining.jpg'));

	.heading-box { background-color: rgba($white, 0.8); padding:10px 0;
		h2 { color:  $burg; margin-bottom:0; font-size: 22px; letter-spacing: 4px; }
		h1 { color:$navy; font-size: 40px; font-weight: bold; }
	}
}

ul.barspecials { list-style-type: none; padding-left: 0;
	li { color: $navy; font-size: 16px; padding-left: 0; margin-bottom: 20px;line-height: 1.3em; font-family:$raleway;}
	li span { color: $burg; font-size: 18px; line-height: 1.2em; font-weight: bold; font-family:$raleway;}
}
#happyhour-box { @include sec-default (); background-color: $navy; padding: 20px; margin-bottom:10px;
	h3, p, p span { color: $white; font-family: $raleway; }
	h3 {color: $lt-blue;}
	ul.hh-specials { padding-top:15px;
		li { color: $lt-blue; font-weight: bold; font-family: $raleway; font-size: 16px; line-height: 1.3em; margin-bottom: 10px;
			span{color: $white;}
		}
	}
}
/***************************************/
/************ MENU ACCORDS ************/
.cbp-item {
	@include sec-default ();
	.cbp-caption {border-bottom: none;}
	.cbp-caption-activeWrap { background-color: $white; padding-top: 20px;}
	.cbp-caption-defaultWrap {
		background-color: #f6f6f6; padding-bottom: 5px; margin-bottom: 2px;
		h4 {margin-bottom: 0px; padding-left: 30px;}
	}
	.cbp-caption-defaultWrap::before {
	    position: absolute;
	    display: block;
	    content: '';
	    background-color: #e6e6e6;
	    background-image: url(image_path('accordion-closed.png'));
	    background-repeat: no-repeat;
	    background-position: center;
	    width: 42px;
	    height: 45.5px;
	    top: 0;
	    left: 0;
	    -webkit-transition: all 0.2s ease 0s;
	    -moz-transition: all 0.2s ease 0s;
	    -o-transition: all 0.2s ease 0s;
	    -ms-transition: all 0.2s ease 0s;
	    transition: all 0.2s ease 0s;
	}
	.cbp-caption-defaultWrap.active::before,
	.cbp-caption-defaultWrap.active:hover::before {
	   	background-image: url(image_path('accordion-opened.png'));
	}
	.cbp-caption-defaultWrap:hover::before {
	    background-image: url(image_path('accordion-closed-hover.png'));
	}

	.menu-item {
		padding-bottom: 10px; padding-right: 10px; text-align: center; text-transform: capitalize;
		h4 {margin-bottom: 3px; font-size: 20px;}
		p {padding-bottom: 0; font-size:16px;}
		.menu-price p { font-weight: bold; margin-bottom: 10px;}
	}

 	@include bp(xl) {
 		.menu-item{
 			h4{font-size:18px;}
 			p{font-size: 15px;}
 		}
 	}
	
	@media (max-width: 1023px) {
	.cbp-caption-defaultWrap h4{font-size: 19px; line-height: 1.4em;}
		.menu-item{
 			h4{font-size:17px;}
		}
	}
}
/***************************************/
.tp-banner-container.fullwidthbanner {margin-bottom: 0; @include sec-default();}
.tp-banner{max-height:100% !important;height:100% !important;
	//img{@include sec-default();position:relative; height:100%;}
	//ul > li{position:relative;}
	li{background-repeat: no-repeat; background-size:cover;background-position: top center;}//background-image: none !important;}
	//li a{position:absolute; height:100%; width:100%;}
	img{display:none;}
	@media (min-width:1400px){height:700px !important;
		li{background-position: bottom right;}
	}
	@media (max-width:1399px){height:650px !important;}
	@media (max-width:1350px){height:600px !important;
		li{background-size:100%;}
	}
	@media (max-width:1300px){height:530px !important;}
	@media (max-width:1175px){height:450px !important;}
	@media (max-width:1024px){height:380px !important;}
	@media (max-width:785px){height:300px !important;}
	@media (max-width:560px){height:250px !important;}
	@media (max-width:470px){height:210px !important;}
	@media (max-width:400px){height:180px !important;}
	@media (max-width:350px){height:150px !important;}
}

.simplePt{@include sec-default();text-align:center;padding:30px 0;margin-bottom:15px;
	.inner{width:90%;@include center-block();}

	h1,h2{letter-spacing:1px;margin-bottom:0;}
	h1{font-weight:bold;margin-bottom:0;text-transform:uppercase;}
	h2{font-size:22px;line-height:1em;}
	p{font-size:17px;margin:15px 0 0;padding-bottom:0;}

	&.red{background-color:$burg;
		h1,h2,p{color:$white;}
	}

	@media (max-width:1024px){padding:20px 0;
		h1{font-size:28px;}
		h2{font-size:20px;}
	}

	@media (max-width:767px){padding:10px 0 15px;
		h1{font-size:24px;}
		h2{font-size:17px;}
	}
}



.home {
	// .homepage{@include sec-default();position:relative;}
	.homeSlide{@include sec-default();}

	.intro-title {@include sec-default(); margin:20px 0;
		h2{font-weight: bold;}
		h3{width:75%; @include center-block();}
	}
	.boxes {
		ul {@include sec-default (); margin-top:30px; margin-bottom: 20px;}
	}
	.delivery {
		@include sec-default ();
		background-color: $burg;
		color: $white;
		padding: 15px;
		margin-top: 0;
		margin-bottom:15px;
		text-align: center;
		h3 {color: $white; font-weight: bold; letter-spacing: .4px; text-shadow:0px 1px 2px rgba($black,.5); margin:0;}
		br{display: none;}
	}
	.delivery a, .delivery span { color: $nygold; }
	.delivery:hover span {text-decoration: underline; }

	.service-box-3 {
		.newcon {@include center-block ();}
	}

	.resImg {@include sec-default(); text-align:center; padding-top:20px;
		img, span {display: inline-block;}
		img{width:120px; margin-top:-20px;}
		span{color: $black;font-size: 26px; font-weight:bold;}
	}

	@include bp(xl) {
		.delivery br{display: block;}

		.intro-title {
			h2{font-size:28px; line-height: 1.5em; margin-bottom: 5px;}
			h3{width:95%; font-size:20px; line-height: 1.5em;}
		}

		.resImg { padding-top:20px;
			img{width:100px;}
			span{font-size: 22px;}
		}

		.col-md-4.col-md-offset-2.menus, .col-md-4.ent{width:45% !important; margin-left:0 !important; float:left;}
	}

	@media (max-width: 823px) {
		.intro-title {
			h2{font-size:25px; }
			h3{width:95%; font-size:18px;}
		}

		.resImg { padding-top:20px;
			img{width:90px;}
			span{font-size: 20px;}
		}

		.col-md-4.col-md-offset-2.menus, .col-md-4.ent{width:100% !important; margin-left:0 !important; float:left;}
		.col-md-4.col-md-offset-2.menus{margin-bottom: 20px;}
		.service-box-3 {padding: 10px;
			.newcon {width: 50px; height: 50px;}
			h4 {margin-top: 5px; margin-bottom: 0px;}
			p {margin-bottom: 0; padding: 0 20px;}
		}
	}

	@include bp(md) {
		.delivery h3 { font-size: 18px; line-height: 1.3em; margin-bottom: 0;}
		.intro-title {margin-bottom: 0;
			h2{font-size:21px; }
			h3{width:95%; font-size:16px;}
		}

		.resImg {margin-top:10px;}

	}
	@include bp(iv) {
		.intro-title .image-center { width: 20%; padding-bottom: 10px;}
		.boxes {
			ul {padding-left: 0;}
		}
		.service-box-3 p {padding: 0 10px;}
	}
}

.about {
	.page-content{border-top:20px solid $navy;}
	.row.medDef, .row.block{display:block;}
	.image-hlf,.text-hlf{display:inline-block;}
	.image-hlf{float:left;width:55%;margin-left:1%;}
	.text-hlf{float:none;width:40%;margin:30px 0 0 3%;}

	p.sig{font-weight:bold;}
	p{padding:0;margin-bottom:15px;color:$black;}

	@media (max-width:1500px){
		.text-hlf{width:41%;margin:30px 0 0 2%;}
	}

	@media (max-width:1200px){
		.page-content {padding:0 0 30px;}//@include sec-bgimage ();background-image: url(image_path('gl-sm.jpg'));

		.fancy-heading{position:relative;z-index:0;margin-bottom:5px;padding:17px 0;
			@include sec-bgimage ();background-image: url(image_path('gl-sm.jpg'));
			&::before {content: '';width: 100%;height: 100%;background: rgba($white, .8);position: absolute;top:0;left: 0;z-index:-1;}
			&::after{display: none;}
		}
		h1{font-size:25px;font-weight:bold;}

		.image-hlf,.text-hlf{margin:20px 0 0;}
		.image-hlf{@include sec-default();margin-left:0;}
		img{max-height:300px;@include center-block();}
		.text-hlf{width:90%;max-width:650px;@include center-block();text-align:center;}
	}
	@include bp(pl) {
		.fancy-heading{padding:13px 0;}
		h1{font-size: 22px;}

		.text-hlf{width:95%;margin-top:15px;}
		.image-hlf{margin-top:10px;}
	}
}

.bar-specials, .specials {
	// h1, h2{text-transform: uppercase;}
	// h2.dev{letter-spacing: 2px; font-weight: bold;}
	// h1{margin-bottom: 5px;}
	ul {padding-left: 0;}
	span{color: inherit;}
	
	// .page-content {padding: 0;}
	.daily, .evening{display:inline-block; vertical-align: top; width:48%;
		h3{color:$black; text-align: center;}
	}
	.evening{float:right;}
	.specialsList{@include sec-default(); text-align: center; margin-top:30px;
		h4{font-weight: bold; color: $burg; font-size: 24px;
			position: relative; z-index: 0; 
			&::before{content: ""; position: absolute; top: 49%; width: 70%; left:15%; z-index: -1; height:2px; background-color: $lt-blue;}

			span{background-color: $white; padding: 0 15px;}
		}
		li {color: $navy; font-size: 19px; margin-bottom: 20px; line-height: 1.3em; font-family:'Raleway', sans-serif; font-weight: 500;}
	}
	.border{@include sec-default(); height:15px; border-bottom: 2px dotted rgba($navy,.3);}


	.lunch-mart {
		h3 { color: $lt-blue; font-weight: bold;}
		p { color: $navy; font-size:15px; text-align: center; }
		p.food-menus { font-size: 14px; font-style: italic;}
		h4 {font-size: 18px; text-align: center; font-weight: bold; line-height:1.2em; margin-bottom:5px; color: $burg;}
	}


	@include bp(xl) {
		.page-title-bar {padding:25px 0 15px;
			.col-md-6.col-md-offset-3.col-sm-12{width:80%; margin-left:10%;}
			.heading-box {padding: 0;
			 	h1 {font-size: 30px; line-height: 1.1em;}
			 	h2{letter-spacing: 1px;}
			}
		}

		.specialsList{
			h4{font-size: 21px;}
			li{font-size: 17px; margin-bottom: 15px;}
		}
	}

	@include bp(tn) {
		.page-content{padding-top:25px;}
		h3{font-size:20px;}
		.daily, .evening{width:90%; @include center-block();}
		.evening h3{@include sec-default(); display:block;margin-top:30px;}
		.specialsList{margin-top:5px;
			h4{font-size: 20px;}
			li{font-size: 16px;}
		}
	}

	@include bp(md) {
		.page-title-bar {padding:25px 0 10px;
			.col-md-6.col-md-offset-3.col-sm-12{width:90%; margin-left:5%;}
			.heading-box {padding: 0;
			 	h1 {font-size: 25px;}
			 	h2{letter-spacing: .4px; font-size:19px}
			 	h3{font-size: 19px;}
			}
		}

		// .specialsList{margin-top:20px;}

		.lunch-mart {
			h4 {font-size: 16px;}
			p {padding-bottom: 0;}
		}
	}

	@media (max-width: 639px) {
		.page-title-bar {padding:10px 0 0px;
			.col-md-6.col-md-offset-3.col-sm-12{width:95%; margin-left:2.5%;}
			.heading-box {
			 	h1 {font-size: 22px;}
			 	h2,h3{font-size:18px}
			}
		}
	}
}

.specials{
	.page-title-bar .heading-box{background-color:rgba(255, 255, 255, 0.85);}
	.heading-box h3{font-size:18px;}
	.fullMenuImg{width:90%;max-width:800px;@include center-block();}

	h4.top{@include sec-default();margin-top:20px;}

	.page-content.tpadding0{padding-top:0;}
	@media (max-width:1200px) {.heading-box h3{font-size:17px;}}
	@include bp(xl) {
		.page-title-bar .heading-box{@include sec-default();padding:10px 5px 12px;}
		.heading-box h3{font-size:16px;line-height:1.1em;margin-bottom:0}
	}
	@include bp(md) {
		.heading-box h3{font-size:16px !important;}
		.fullMenuImg{width:97%;}
	}
	@include bp(ph) {.heading-box h3{max-width:250px;@include center-block();}}
}

.food-specials {
	.page-content {text-align: center;}

	h3{color: $burg; font-weight: bold; margin-bottom:0px;}

	@include bp(sm) {
		.page-title-bar {
			padding:15px;
			.heading-box {
				padding: 0;
			 	h1 {font-size: 30px; line-height: 1.3em;}
			}
		}
	}
	@include bp(iv) {
		.page-title-bar {
			padding:15px;
			.heading-box {
				h2 {font-size: 18px;}
			 	h1 {font-size: 22px; line-height: 1.3em;}
			}
		}
	}

	.specials-box { @include sec-default (); background-color: $navy; padding: 20px; padding-bottom: 0px; text-align:center; margin-bottom:10px;
		h4 { color: $white }
		p { color: $lt-blue; font-size: 15px; }
		p strong { font-weight: bold; }

		@include bp(md) {
			padding:10px 0 0;
		}
	}
}

.events {
	.borderImg{border:1px solid rgba($black,.2);}
 	#page-title .title-container { text-align: center;
		.title {background: rgba($black, 0.5); padding-top: 30px; padding-bottom:30px;}
		h4 { color: $white;text-shadow: 0px 3px 2px $black;font-size: 25px; }
		@include bp(md) {
			padding:0;
			.title{padding: 10px 0;}
		}
		@include bp(iv) {
			#page-title .title-container {
				h1 {font-size: 20px;}
			}
		}

	}
	.pairing-list { padding-bottom:0;
		h3.header {text-align: center; padding-bottom: 20px;}
		a.pairing-box { @include sec-default (); background-color: $navy; padding: 25px; text-align:center;
		 	h3 { font-size: 22px }
		 	h4 { color: $white; font-size: 18px; }
		}

		.light-sbox { @include sec-default (); background-color: $light;
			padding: 20px;
			text-align: center;

		 	h3 { font-size: 18px; font-weight: bold; }
		 	h4 {color: $navy; margin-bottom:5px;}
		 	p { color: $black; margin-bottom:10px; padding-bottom: 10px;}
		 	p b {font-weight: bold; }
		 	span { font-size: 13px; color: $black; }
		 	a { background-color: $lt-blue; padding: 10px 15px; font-weight: bold; }
			.title h1.background-op { background-color: rgba($navy, 0.8); padding-top:10px; padding-bottom:10px; }
		}


		.row.xpad{padding:40px 0;}
		.pbox-cst{display: inline-block; float: none; vertical-align: top; width:45%; margin-left: 3%;margin-bottom:30px;}

		.halloWine{@include sec-default(); @include sec-bgimage(); background-image: url(image_path('halloBg4.jpg')); background-size: cover;
			padding:30px 15px 35px 25px;  
			position: relative; z-index: 0;
			&::before{@include before(); background-color: rgba($black,.2); height:100%; z-index: -1;}

			h3, h4{color:$white; text-shadow: 0px 1px 1px rgba($black,.7); font-weight: bold;}
			h3 {font-style: italic; letter-spacing: 1px; text-transform: uppercase;}
			h4{font-size: 18px; line-height: 1.45em; margin-bottom: 25px;}
			.gl-link {text-align: center; background-color: $black; color: $white; border:1px solid rgba($white,.5);
				font-weight:bold; font-size:14px; box-shadow: 0px 5px 8px rgba($black,.4); padding:7px 20px; letter-spacing: .5px;
				&:hover{background-color: rgba($black,.8); color:$orange;}
			}
		}

		@media (max-width:1200px) {
			.halloWine{padding:20px 15px 30px 25px;  
				h3 {font-size: 20px;}
				h4{font-size: 17px; }
				.gl-link{font-size:13px;}
			}
		}

		@include bp(xl) {
			.row.xpad{padding:10px 0 20px;}
			.pbox-cst{@include sec-default();margin-left:0;
				// &.two{margin-top:30px;}
			}

			.halloWine, .mobile-cst{@include center-block(); width:75%; }
		}

		@include bp(pl) {
			.halloWine, .mobile-cst{width:90%; }
		}

		@include bp(sm) {
			.light-sbox {margin-bottom: 15px;}
		}
	}

	.recipe-sidebar {
		@include sec-default (); background-color: $navy; padding:25px 20px; margin-top:30px;
		.recipe-title { @include sec-default (); text-align: center;
			a {color: $white;}
			p { color: $lt-burg; font-style: italic; font-size: 15px;}
		}

		ul {padding-left: 0;}
		h5 { color: $white; margin-bottom:0; line-height: 1.4em;
			span{ color: $lt-blue; font-weight: bold;}
		}
		h4 { color: $lt-blue; margin-top:0; line-height: 1.3em; padding-top:5px; font-weight: bold; }

		.recipe-content { @include sec-default (); text-transform: uppercase;
			p{color: $white;}
		}

		.recipe-direct { @include sec-default (); margin-top: 15px;
			p { color:$white;}
			a { color:$lt-burg; font-style: italic; font-weight: bold; font-size: 15px;}
		}

		@include bp(md) { display: none;}
	}


	// .page-content{padding:15px 0;}
}

.XXXXX.brunch-menu {
	.page-content {@include sec-default();padding: 25px 0 15px;}

  .btn.red {width: 50%; @include center-block (); color: $white; font-size: 16px; padding: 20px 0;
 		&:hover {background-color: darken($burg, 10%);}
  }

  @include bp(md) {
   	.page-content {padding-bottom: 0;}
   	#page-title .title-container {//padding: 20px 0 0px;
	    h1 {font-size: 25px; }
   	}
   	.btn.red { width: 70%; }
   	.service-box-2 {margin-bottom: 15px;
   		h4{ margin-bottom: 4px;}
   		p {padding-bottom: 0; margin-bottom: 0px;}
   	}
 	}

 	@include bp(sm) {
   	.btn.red { width: 100%; padding: 15px 5px; font-size: 14px;}
   	.service-box-2 {
    	p {margin-bottom: 15px; }
    	h4 {margin-bottom: 5px; padding-top: 5px;}
    }
 	}
}

.event-lunch-menu, .event-dinner-menu {
	.title-container {position: relative; z-index: 0; padding: 30px 0;
    h1 {text-shadow: 0px 1px 2px $black;}
    h4 {font-weight: bold; color: $white; text-align: center;text-shadow: 0px 1px 2px $black;}
    h3 {text-shadow: 0px 1px 2px $black;}
    a {font-weight: bold; color: $lt-blue;}
 	}
}

.lunch-menu, .event-lunch-menu, .event-dinner-menu, .dinner-menu, .drink-menu, .wine-list, .daily-menu, .brunch-menu { 
	.menu-item {
  	h4 {color: $burg; font-weight: bold;}
  	p {color: $black;}
  	.menu-price p {color: #424242;margin-bottom:0;}
  }

 	#menus a {
 		@include sec-default();
 		background-color: $light; padding: 20px;
 	}

 	@include bp(md) {
    .menu-item {
			padding-bottom: 10px; padding-right: 0px;
			h4 {margin-bottom: 3px;}
			p {padding-bottom: 0;}
			.menu-price p { margin-bottom: 0px;}
    }
	}
	@include bp(sm) {
		.cbp-l-caption-body {padding-left: 0;}
	}
	@include bp(iv) {
		.title-container h4 {font-size: 17px;}
	}
}

/***************************************/
/********* SMALL PAGE HEADERS **********/

#page-title{
	br.oc-show{display: none;}
	&.over20{position: relative; z-index: 0;
		&::before {@include before(); background-color: rgba($black, .3);height:100%;z-index: -1;}
	}

	&.small-box .title-container{padding:60px 0; margin:0; text-align: center;
		h1, h2, h3, h4, a{line-height: 1.35em; margin:0; color:$white; text-shadow: 0px 1px 2px $black;}
		h1{font-size:32px;}
	}

	@media (max-width: 1200px) {
		&.small-box .title-container{padding:40px 0;}
	}

	@include bp(xl) {
		&.small-box .title-container{padding:20px 0;
			h1{font-size:28px;}
			h2{font-size: 23px;}
		}
	}

	@include bp(oc) {
		br.oc-show{display: block;}
		&.small-box .title-container{padding:15px 0;
			h1{font-size:25px;}
			h2{font-size: 21px;}
		}
	}
}

// SIMPLE HEAD
.simpleHeader{@include sec-default();text-align:center;}
.simpleHeader.eventsGen{background-color:#f7f7f7;padding:20px 0;
	h1{font-weight:bold;margin-bottom:0;}
}
/***************************************/

.wine-list {
  // #page-title .title-container { padding: 30px 0;}
  h3.fancy-heading.center {color: $lt-blue;}
  .cbp-l-caption-body .menu-item {text-align: left; padding-left: 7%;}
	.wine-det {text-align: center; color: $blue; font-size: 14px; }
	.page-content {padding: 40px 15px;}

	@include bp(md) {
		.page-content {padding-left: 0; padding-right: 0;}
    .cbp-l-caption-body .menu-item {
  		h4 { font-size: 15px;}
    }
    .wine-det { text-align: left; padding-left: 5%; margin-bottom:4px;}
		.cbp-caption-expand .cbp-l-caption-body {padding-left:0;}
	}

	@include bp(sm) {.cbp-l-caption-body .menu-item{ padding-left: 5px;}}
}

.contact {
	.page-content {
		border-top: 30px solid $navy;
		padding-top: 0px;
	}

	.signup { background-color: $light; padding-left: 10%;}
    #mc_embed_signup .button { background-color: $burg; }
			#mc_embed_signup input.email {width: 85%;}

    .mobile-row {display: none;}

	@include bp(md) {
		.page-content {padding-bottom: 5px;}
		.signup { width:70%; @include center-block (); padding-left: 20px;}
	    .mobile-row {display: block;
	    	.btn {
	        text-transform: uppercase;
	        font-weight: 600;
	        position: relative;
	        overflow: hidden;
	        display: inline-block;
	        background-color: $burg;
	        font-size: 14px;
	        color: $white;
		    }

		    .btn:hover {
		        background-color: lighten($burg, 15%);
		        -webkit-transition: all 0.4s ease 0s;
		        -moz-transition: all 0.4s ease 0s;
		        -o-transition: all 0.4s ease 0s;
		        -ms-transition: all 0.4s ease 0s;
		        transition: all 0.4s ease 0s;
		    }
		}
    }
}

.new {
	#page-title .title-container {
		h3, a {
			color: $white;
			text-shadow: 2px 2px 2px $black;
			font-size: 35px;
		}
	}
	.required {
	    font-weight: bold;
	    color: $burg !important;
	}

	p.xs-m { margin-bottom: 10px; padding-bottom: 0;}

	.form-group {
	    width: 100%;
	    margin-bottom: 15px;
	    color: $black;
	    position: relative;
	    display: block;
	}
	input,
 	textarea {
	    background-color: $white;
	    border: 1px solid #ddd;
	    border-radius: 3px;
	    padding: 6px 10px 6px 40px;
	    width: 90%;
	}
	input.text {min-height: 36px;}
	textarea { height: 80px; }
	.form-group.email, .form-group.phone, .form-group.date, .form-group.guest {width: 45%; display: inline-block;
		input {width: 95%;}
	}
	.form-group::before {
	    font-family: 'FontAwesome';
	    position: absolute;
	    display: block;
	    font-size: 13px;
	    top: 23px;
	    left: 1px;
	    width: 32px;
	    height: 33px;
	    padding-left: 10px;
	    background-color: #f6fcfe;
	    padding-top: 7px;
	    border-radius: 3px;
	}
	.form-group.submit {
		width: 30%;
		input { text-align: center; padding:10px 0; background-color: $blue; text-transform: uppercase;color: $white;font-size: 12px;}
	    font-weight: 700;
	    position: relative;
	    -webkit-transition: all 0.2s ease 0s;
	    -moz-transition: all 0.2s ease 0s;
	    -o-transition: all 0.2s ease 0s;
	    -ms-transition: all 0.2s ease 0s;
	    transition: all 0.2s ease 0s;
	    border: none;
	    float: left;
	}
	.form-group.name::before { content: '\f040'; }
	.form-group.email::before { content: "\f0ac"; }
	.form-group.phone::before { content: "\f095"; }
	.form-group.message::before { content: "\f003"; z-index: 1; margin-bottom: 0;}
	.form-group.date::before { content: "\f073"; }
	.form-group.guest::before { content: "\f2c0"; }

	input:focus,
	textarea:focus {
	    border-color: #ccc;
	    outline: none;
	}

	@include bp(md) {
		input, textarea { width: 100%; }
		.form-group.email, .form-group.phone, .form-group.date, .form-group.guest  {width: 100%; display: block;
			input {width: 100%;}
		}
		.form-group.message {margin-bottom: 0;}
		.form-group::before {height:30px; top:25px;}
	}

	.cater-menus.tabs {
		padding-top: 50px;
		font-family: $raleway;
		.fancy-heading p {font-size: 15px; color: $black; margin-bottom: 0; padding-bottom: 5px;}
	}
	h3.menu-head { margin-bottom: 0; padding-left:20px; font-weight: 700; }
	.cater-menus .menu-info{
		color: $black;
		font-size: 15px;
		padding-bottom: 20px;
		margin-left: 20px;
	}
	.cater-menus .menu-info span {
		font-weight: bold;
		color: $navy;
	}
	.cater-menus .menu-items {
		font-weight: normal;
		font-size: 15px;
		color: $burg;
		font-weight: bold;
		padding-left: 20px;
	}
	.cater-menus .menu-items span {
		color: $black;
		font-weight: normal;
	}
	ul.items {
		list-style-type: none;
		padding-left: 0;
		li {padding-bottom: 10px;}
	}

	.hdv-items {
		font-weight: normal;
		font-size: 14px;
		color: $burg;
		font-weight: bold;
		span {
			color: $black;
			font-weight: normal;
		}
		.fancy-heading {
			margin-top: 20px;
			margin-bottom: 10px;

			h4 {font-size: 18px}
		}
	}
	.mobile-menu-link {display: none;}
	@include bp(md) {
		.mobile-menu-link {display: block; width:25%; font-weight: bold; background-color: $burg; color:$white; @include center-block (); padding: 10px 0; text-align: center; border: 1px solid $lt-burg;}
		.cater-menus.tabs { padding-top: 20px;
			.container {padding-left: 0; padding-right: 0;}
			.fancy-heading p { line-height: 1.3em;}
		}
		.cbp-l-caption-body {padding-left: 0;}
	}
	@include bp(sm) {
		.mobile-menu-link {width:50%;}
	}
}

.pairing, .XXspecial-event {
	#page-title {position: relative;z-index: 0;text-align: center;
		&::before {content: '';width: 100%;height: 100%;background: rgba($black, .5);position: absolute;top:0;left: 0;z-index: -1;}

		.title-container {margin-bottom: 0;
			.custom-tb{@include sec-default();}
			h1.shadow-mod,h4.shadow-mod, h3.shadow-mod {text-shadow: 0px 1px 2px rgba($black, .9);}
			h1.shadow-mod {line-height: 1.3em; margin-bottom: 15px;}
			h1.shadow-mod, h3.shadow-mod{text-shadow: 0px 2px 2px rgba($black, .9);}
			h2, h4, h3 {font-weight: bold; }
			h3 {font-size: 22px; padding-top:0; text-transform: none;
				span{text-shadow: none; color: white;}
			}
			h4 {line-height: 1.6em; margin-top: 20px;}
		}
	}

	h3.burg-text {color: $burg;text-align: center; margin-top: 30px; margin-bottom: 5px;}
	h3.burg-text.text-center{font-weight: bold;}
	h3.tmargin0{margin-top: 0;}
	h4 a, h3 a {color:inherit;}
	h4 {margin-bottom: 0; line-height: 1.6em; font-size: 20px; color: white;}
	p {margin-top:0px;}
	
	.page-content .hr-png-6 {margin: 15px 0;}

	.pairing-1 {border-bottom: 5px solid $lt-blue;
		.food-menus {
			h4, h5, p { margin-bottom: 0}
		}
	}

	.service-box-2 { max-width:600px;@include center-block(); // KPKP KPKP RECENT 11/2/2020
		p {margin-top:10px; padding-bottom: 0; font-weight: bold;}
		h5 { font-size: 15px;  line-height:1.4em;margin:2px 0 10px;}// KPKP KPKP RECENT 11/2/2020 after space
		h4 { font-size: 17px;}
	}

	.h2s {text-align: center; @include sec-default();
		h2,h3,p{font-size: 19px;
			a{color:inherit;}
		}
		p{color:$dark;font-family:$raleway;font-weight:500;}

	}

	.solo {width: 80%; @include center-block();}
	.sidebar, .pair-menu {display: inline-block; float: left; width: 30%;}
	.sidebar {margin-left: 5%;}
	.pair-menu {float: right;width: 65%;}
	.food-menus {
		hr {border-bottom: 1px dotted rgba($dark, .2); width: 80%; margin: 15px auto;}
		h3 {color: $blue; text-shadow: 0px 1px 1px rgba(black, .2);}
		h4 strong {color: $burg; font-weight: bold;}
		p{color: black;}
	}
	.pixely_widget_contact {
		h3 {font-size: 22px; line-height: 1em; margin-bottom: 5px;}
		h4{color: $dark;}
		p {color:black; padding-bottom: 0; margin-bottom: 0;}
		h5 {font-weight: bold; margin-bottom:5px; margin-top:20px;}
	}

	@include bp(xl) {
		#page-title {
			&::before { background-color: rgba(black,.5)}
			.title-container.less { text-align: center; padding:60px 0; margin-bottom: 0;
				.custom-tb{@include sec-default(); text-align: center;}
				h1 {font-size: 30px;}
			}
		}

		.h2s p{font-size:17px;}
		.page-content.pairing-1 {padding-top:20px;}
		.sidebar, .pair-menu {@include center-block(); width:85%;}
		.pair-menu {margin-top: 20px;}
	}

	@include bp(md) {
		.sidebar,.pair-menu, .solo{width:99%; text-align: center;}
	}

	@media (max-width: 740px) {
		#page-title {
			.title-container.less { padding:30px 0;
				h1 {font-size: 22px;}
				h3, h4 {font-size: 18px}
			}
		}

		.h2s p{font-size:16px;}

	}
}

body.special-event{
	&,p,li,a{font-family:$raleway;}
}
.se-layout{@include sec-default();text-align:center;padding:40px 0;
	background: hsla(169, 76%, 48%, 1);
	background: linear-gradient(90deg, hsla(169, 76%, 48%, 1) 0%, hsla(67, 87%, 82%, 1) 100%);
	background: -moz-linear-gradient(90deg, hsla(169, 76%, 48%, 1) 0%, hsla(67, 87%, 82%, 1) 100%);
	background: -webkit-linear-gradient(90deg, hsla(169, 76%, 48%, 1) 0%, hsla(67, 87%, 82%, 1) 100%);
	// @include sec-bgimage();background-image:url(image_path('mgBg.jpg'));background-size:cover;

	.mgHeader{@include center-block();width:80%;}
	.overview{@include sec-default();margin:20px 0 10px;}
	.link-row{@include sec-default();margin-bottom:30px;}
	.imgRow{@include sec-default();margin-top:15px;}

	&,p,h1,h3,li{color:#009999;}//color:$white;}
	h2,h4{color:#005b5b;}
	h1,h2,h3,h4{@include sec-default();}
	h3,h4,p,li{line-height:1.5em;}
	h1,h2{line-height:1.2em;}

	h1{font-size:21px;margin:0 0 10px;}
	h2{font-size:45px;font-weight:bold;margin:0 0 10px;}
	h3{margin-bottom:10px;font-size:22px;}
	h4{margin:0;font-size:19px;font-weight:bold;
		span{color:inherit;}
	}
	p.instr{font-size:15px;padding-bottom:0;}
	p,li{font-size:19px;margin-bottom:10px;}
	.overview p{width:90%;max-width:800px;@include center-block();}
	
	.glBtn{font-size:15px;text-transform:uppercase;padding:7px 20px;font-weight:bold;letter-spacing:1px;box-shadow:0px 10px 20px rgba($black,.4);
		background-color:$white;color:$black;
		&:hover{opacity:.8;}
	}
	.imgLink{width:100%;max-width:700px;@include center-block();}


	@media (max-width:1023px){padding:25px 0;
		.mgHeader{width:90%;}
		h1,h3{font-size:19px;}
		h2{font-size:40px;}
		p{padding-bottom:5px;font-size:18px;}
		.overview p{max-width:100%;}
		.glBtn{font-size:14px;}
	}

	@media (max-width:767px){padding:20px 0;
		h1,h3,h4{font-size:18px;}
		h2{font-size:35px;}
		p{font-size:17px;}
		.overview p{width:100%;}
		.imgLink{max-width:100%;}
	}
	@media (max-width:500px){
		h1,h3,h4{font-size:17px;}
		h2{font-size:24px;}
		.overview{margin-top:10px;}
	}
}



// MOTHER SON VDAY PAGE
.event.vday-ms{@include sec-default();padding:30px 0;background-color:$pinkLt;text-align:center;
	// .simpleHeader{@include sec-default();}
	.page-content{padding:0;}

	h1{color:$pink;font-weight:bold;margin-bottom:3px;
		br{display: none;}
	}
	h3{margin:0 0 7px;line-height:1.2em;font-size:22px;}
	h4{margin-bottom:3px;font-size:19px;line-height:1.3em;
		br{display: none;}
	}
	h4 a,p{color:$black;}

	.menu-link{@include center-block();max-width:550px;}

	@media (max-width:1024px){
		h1{font-size:25px;line-height:1.3em;}
		h3{font-size:20px;}
		.menu-link{max-width:500px;}
	}
	@media (max-width:1023px){
		h1{font-size:23px;}
		h3{font-size:19px;}
		h4{font-size:17px;}
		.menu-link{width:90%;}
	}
	@media (max-width:767px){padding:15px 0;}
	@media (max-width:420px){
		h1 br,h4 br{display:block;}
		p{font-size:15px;margin-bottom:0;}
	}
}
// SUPER BOWL
.event.superbowl{@include sec-default();padding:30px 0;text-align:center;background-color:#f7f7f7;
	.imgRow{@include center-block();width:100%;max-width:700px;}

	@media (max-width:1023px){
		.imgRow{max-width:500px;}
	}
	@media (max-width:767px){padding:15px 0;}
}


// MARDI GRAS
.mardiGras23{@include sec-default();text-align:center;padding:80px 0;@include sec-bgimage();background-image:url(image_path('mardigras2.jpg'));
	.fullRow{@include sec-default();}
	.mgHeader{@include center-block();width:90%;max-width:700px;}
	.shadow{background:rgba($black,.6);padding:30px 0;border:5px solid $yellow;box-shadow:0px 15px 30px rgba($black,.6);}
	.mgBody{margin-top:30px;}
	.btnRow{margin:20px 0;}
	hr{width:85%;@include center-block();opacity:.5;}


	h1,h2,h3,p,span{color:$white;}
	h1,h2{line-height:1.2em;}
	h1{font-size:40px;font-weight:bold;margin:0 0 20px;}
	h2{font-size:19px;margin:0 0 10px;font-weight:normal;}
	h3{margin:0;line-height:1.7em;}
	p{font-size:20px;line-height:1.5em;}
	p.bold, p b{font-weight:bold;color:$yellow;}
	p.s1 span{font-size:.9em; font-family:inherit;}
	br.five{display:none;}

	.glBtn{background-color:$white;color:$black;font-size:15px;text-transform:uppercase;padding:7px 20px;font-weight:bold;letter-spacing:1px;box-shadow:0px 10px 20px rgba($black,.4);
		&:hover{opacity:.8;}
	}
	span.dot{padding:0 15px;position:relative;z-index:0;
		&::before{@include before();width:5px;height:5px;left:10px;top:50%;margin-top:-2.5px;background-color:$white;border-radius:50%;z-index:-1;}
	}

	@media (max-width:1024px){padding:45px 0 60px;}
	@media (max-width:991px){background-image:url(image_path('mardigras2m.jpg'));
		.mgBody{margin-top:15px;}

		h1{font-size:32px;margin-bottom:10px;}
		h2{font-size:17px;}
		h3{font-size:21px;}
		.glBtn{font-size:14px;}
		p{font-size:18px;}

	}

	@media (max-width:767px){padding:20px 0 30px;background-size:cover;
		.mgHeader{width:94%;}
		.shadow{padding:15px 0;background-color:rgba($black,.7);}
		.mgBody{margin-top:0px;}

		h1{font-size:25px;margin-bottom:5px;}
		h2{font-size:15px;margin-bottom:5px;}
		h3{font-size:19px;}
		p{font-size:17px;}
		hr{margin-top:15px;}
		// img{width:100%;max-width:100%;}
	}
	@media (max-width:639px){
		.shadow{padding:15px 10px 10px;}
		h1{font-size:23px;}
		h3{font-size:17.5px;}
		p{font-size:16px;@include center-block();}
		p.s1{max-width:300px;}
		.btnRow.b2{margin-top:10px;}
		span.dot{padding:0 10px;
			&::before{width:3px;height:3px;left:6px;margin-top:-1.5px;}
		}
	}

	@media (max-width:500px){
		h3{font-size:16.5px;}
		p{width:90%;max-width:300px;}
		span.d2{display:none;}
		br.five{display:block;}
	}
}

.elvis-dinner{@include sec-default();background-color:#F6E6F6;background-image:url(image_path('partySide.png'));background-size:20%;background-repeat:repeat-y;background-position:top left;
	padding:60px 30px 30px 25%;
	.wrap{width:90%;max-width:700px;@include center-block();}
	
	.title{@include sec-default();margin-bottom:30px;padding-bottom:30px;border-bottom:2px solid rgba($black,.1);}
	h1{font-size:55px;color:#6ADF93;font-weight:bold;margin-bottom:20px;}
	h2,h3{margin:5px 0;}
	h2{font-size:30px;color:#84217B;
		br{display:none;}
		span{color:inherit;}
		// span{display:inline-block;vertical-align:top;width:15px;height:40px;margin-right:15px;border-right:2px solid rgba($black,.5);}
	}
	h3{font-size:20px;
		a{color:$black;}
		span{color:inherit;font-size:.8em;}
	}
	p.instr{display:none;}

	hr{border-color:#84217B;}

	img{max-width:550px;}

	@media (max-width:959px){padding-top:40px;
		.title{margin-bottom:20px;padding-bottom:20px;}
		h1{font-size:40px;margin-bottom:5px;}
		h2{font-size:22px;margin:0;}
		h3{font-size:18px;margin:0;}
		img{width:100%;max-width:450px;}
	}
	@media (max-width:767px){padding:20px 10px 20px 60px;background-size:50px;
		// .title{margin-bottom:20px;padding-bottom:20px;}
		h1{font-size:26px;margin-bottom:0;}
		h2{font-size:19px;}
		h3{font-size:17px;}

		p.instr{display:block;font-size:17px;font-weight:bold;
			a{color:#54b275;}
		}
		img{max-width:350px;}
	}
}




.pairing .halloween-dinner {
	.pt-bkg-image.image-hallo{background-image: url(image_path('halloBg.jpg')); background-position: center center;
		&::before{display: none;}
	}

	.food-menus {
		h3{color:$orange;}
		h4 strong {color:$orange2; text-shadow: 0px 1px 1px rgba($black,.15);}
		p{font-size: 14px;}
	}
	.h2s h2{font-size: 23px; font-weight: bold; line-height: 1.3em;}

	@include bp(tb) {
		.h2s h2{font-size: 19px;}
	}

	@include bp(md) {
		.h2s h2{font-size: 17px;}
	}
}

.pairing {.food-menus .service-box-2{padding-bottom: 10px;}}
// FOR MARCH WINE 2022 -- BUT CAN REUSE FOR ANY PDF WINE MENU
// fb9e47
.pairing .pairing-with-image{background-color:#e175b2;
	#page-title{box-shadow: none;background-color:#e175b2;padding:24px 0 30px;
		&::before{display:none;}
		.title-container{padding:0;}
		h1.shadow-mod,h2, h3.shadow-mod,h4.shadow-mod{text-shadow:none;}
		h3, h4{font-weight: normal; letter-spacing: .5px}
		
		// h3 br{display: none;}
		h4{margin-top:5px; line-height: 1.4em;}
		h4 a{color:inherit; font-weight:600;}
	}

	.page-content{padding:0px 0 60px;text-align:center;}
	.menu-link-img{width:80%;max-width:1000px;@include center-block();text-align:center;}
	img.mobile{display: none;}

	.solo.food-menus{display: none;}

	@include bp(xl) {
		#page-title{padding:20px 0;}
		.menu-link-img{width:90%;}
	}
	@media (max-width:1023px){.menu-link-img{max-width:700px;}}

	@media (max-width:767px) {
	.page-content{padding:0px 0 30px;}
		img.fw{display: none;}
		img.mobile{@include center-block();}
		.menu-link-img{width:95%;max-width:600px;}
	}

	@include bp(oc) {
		#page-title{
			.title-container.less h3,.title-container.less h4{letter-spacing: .1px;font-size:16px; line-height: 1.5em;}
			// h3 br{display: block;}
			// h3 span{display: none;}
		}
	}
}


.daily-menu, .football-season, .menuPdfs{
	hr.noTop{margin-top:0;}

	.menu-opt{@include sec-default(); text-align:center;
		h5{font-size:25px;margin-bottom:40px;font-weight:bold;line-height:1.2em;}
		h5 span{font-weight:normal;font-size:21px;color:inherit;}
		h5 a{color:$burg;font-weight:bold;}
	}
	.menu-link{display:inline-block;float:left;width:48%;padding:20px 3% 0;position:relative;z-index:0;
		&::before{@include before();height:70%;background-color:rgba($lt-blue,.3);z-index:-1;}
		&.gold::before{background-color:rgba($yellow,.3);}
		&:hover{opacity: .75;}
		&.two{float:right;}

		img{border:1px solid rgba($black,.1);}
	}

	.ml-solo{width:60%;@include center-block();max-width:700px;padding-top:30px;
		&::before{width:120%;left:-10%;height:40%;}
	}

	&.brunch .menu-opt h5{font-size:20px;margin-bottom:20px;line-height:1.3em;}

	p.menuTitle{font-size:17px;font-style:italic;color:$black;font-family:$raleway;margin:0px 0 15px;padding:0;line-height:1.4em;
	 b{font-size:20px;font-style: normal;}
	}

	@media (max-width:1200px){
		.page-content.altSize{max-width:100%;width:95%;}
	}

	@include bp(xl) {
		.page-content.altSize{padding:25px 0;}
		.menu-opt h5{font-size:20px;margin-bottom:20px;line-height:1.4em;
			span{font-size:inherit;}
		}

		&.brunch .menu-opt h5{font-size:18px;}
	}

	@media (max-width:1023px){
		.menu-opt h5{font-size:19px;}
		.menu-link{width:49%;padding:20px 2% 0;}
		.ml-solo{width:70%;}

		p.menuTitle{font-size:16px;
			b{font-size:18px;}
		}
	}

	@include bp(tn) {
		.page-content.altSize{max-width:500px;}
		.menu-opt h5{font-size:17px;margin-bottom:10px;}
		&.brunch .menu-opt h5{font-size:17px;}

		.menu-link{width:100%;padding:15px 20px 0;
			&.two{margin-top:20px;}
			img{width:95%;max-width:450px;@include center-block();}
		}
		.ml-solo{
			&::before{width:110%;left:-5%;}
		}
	}

	@media (max-width:639px){
		.menu-opt h5{font-size:16px;}
		.menu-link{padding:15px 5px 16px;max-width:400px;
			&,&.two{@include center-block();margin-top:20px;}
			&::before{height:100%;}
			img{display:none;}
		}
		.ml-solo{width:100%;padding:20px 20px 0;
			&::before{width:100%;left:0;height:30%;}
			img{display:block;}
		}

		p.menuTitle {margin-bottom:0;b{font-size:17px;}}
	}

	/////// all except pdf sec. /////////

	.fancy-heading {
		h2{color: $white; text-shadow: 0px 1px 2px rgba($black,.85); font-weight:bold; margin-top:5px;}
		span{text-transform: inherit; font-size: inherit; color: $blue;}
	}

	.menu-key{@include sec-default(); text-align: center;
		h5{font-size: 16px; color:#424242;}
		h5 img { width: 25px; display: inline-block; padding-top: 4px; padding-right: 1px; vertical-align: top;}
	}
	
	.menu-item {
		h4 img {width: 25px; display: inline-block; padding-top: 4px; padding-right: 1px; vertical-align: top;}
		p{line-height: 1.6em;}

		&.dets p{font-weight: bold;}
		.md-span{color:inherit; font-size: inherit;}
		.sm-br{display: none;}
	}

	.cbp-caption.lunchspec{
		.cbp-caption-defaultWrap{background-color:$hcolor;
			h4{color:$white;}
		}

		p{font-size:16px; line-height: 1.7em;}
		p.reg{font-size: 15px; color: $burg;}
	}


	@media screen and (max-width:823px) {
		.menu-item {
			.md-span{display: none;}
			.sm-br{display: block;}
		}
	}
}

.football-season{
	.pt-bkg-image{position:relative;z-index:0;background-image: url(image_path('football-stadium.jpg'));background-position: bottom center;
		&::before{@include before(); height:100%;background-color:rgba(0,64,0,.8);}
	}
	.title-container{position:relative;z-index:1;text-align:center;
		h1,h2{text-shadow:0px 1px 2px $black !important;}
		h1{margin-bottom:5px;}
		h2{color:$white;font-weight:bold;}
		br{display: none;}
		.fb-badge{width:100px;display:inline;}
	}
	// .menu-opt h5{display: none;}
	
	.soloImg{width:90%;max-width:700px;@include center-block();box-shadow:0px 10px 20px rgba($black,.3);}

	@media screen and (max-width: 1200px) {
		#page-title .title-container{padding:60px 0 40px;margin-bottom:0;}
	}
	@media screen and (max-width: 1024px) {
		// .pt-bkg-image::before{background-color:rgba($green,.6);}
		#page-title .title-container{padding:40px 0 30px;
			h1{font-size:28px;}
			h2{font-size:24px;}
			.fb-badge{width:80px;}
		}
	}
	@media screen and (max-width: 768px) {
		#page-title .title-container{padding:20px 0 10px;
			h1{font-size:24px;}
			h2{font-size:21px;}
			.fb-badge{width:65px;}
			br{display: block;}
		}
		.menu-opt h5{display: block;font-size:17px;margin-bottom:10px;}
	}

	@media screen and (max-width: 639px) {
		#page-title .title-container{
			h1{font-size:21px;}
			h2{font-size:19px;}
		}
		.menu-opt h5{font-size:16px;}
	}
}


.bnb {
	#pairing-custom1 {
		@include sec-default ();
		padding:15px 0;
		background-image: url(image_path('nyd2.jpg'));
		background-position: top left;
	    background-repeat: no-repeat;
	    background-size: 35%;

	    &.page-content.food-menus {background-color: #f1f2f4;}
	}

	#pairing-custom1 .title {
		@include sec-default ();
		text-align: center;
		padding: 30px 10px;
		position: relative;z-index: 5;
	}

	#pairing-custom1 .title h1, #pairing-custom1 .title h5, #pairing-custom1 .title h4 { font-weight: bold; }

	#pairing-custom1 .title:before {
		background: $white;
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	    content: "";
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    opacity: .5;
	    z-index: -1;
	}

	#pairing-custom1 h3.burg-text {
		margin-bottom: 2px;
		margin-top:25px;
		font-weight: 700;
	}

	#pairing-custom1 .service-box-2 { margin-bottom:15px; }
	#pairing-custom1 .service-box-2 h4,
	#pairing-custom1 .service-box-2 h5,
	#pairing-custom1 .service-box-2 p,
	#pairing-custom1 .service-box-2 h4 strong {margin-bottom: 5px;}

	#pairing-custom1 .service-box-2 p {padding-bottom: 5px;}
	#pairing-custom1 .service-box-2 h5 {font-size: 16px;}
	#pairing-custom1 .service-box-2 h4 {font-size: 18px;}

	@media (max-width: 768px) {
		#pairing-custom1 {
			padding:0;
			padding-top:20px;
		    background-image: url('../img/nyd2-mob.jpg');
		    background-size: 100%;
		    background-repeat: no-repeat;
		}
		#pairing-custom1 h3.burg-text { margin-bottom: 5px;}
		#pairing-custom1 .service-box-2 { margin-bottom:5px; }
		#pairing-custom1 .hr-png-6 {margin-bottom: 0;}
	}
}


.entertainment {
	.pt-bkg-image {background-position: center center; position: relative; z-index: 0;
		&::before{@include before(); height:100%; background-color: rgba($black,.5);}
	}
	#page-title .title-container {padding: 30px 0;margin-bottom: 0px;}
	h2{color: $burg; font-weight: bold;}

	@include bp(xl) {
		#page-title .title-container h1{font-size: 2.8em;}
		h2{font-size:2em;}
		h4{font-size: 1.3em;}
	}

	@media screen and (max-width: 823px) {
		#page-title .title-container h1{font-size: 2.5em;}
		h2{font-size:1.7em;}
		h4{font-size: 16px;}
	}

	@include bp(sm) {
		#page-title .title-container h1{font-size: 2.2em;}
	}
}


.drink-menu{
	h6{font-size:16px;}
	.cbp-caption.special25 .cbp-caption-defaultWrap{background-color:$hcolor;
		h4{color:$white;}
	}
	.spec25{text-align: center;
		h4{font-size:25px; color: $black; margin:0; font-weight: bold;}
		p{margin:0 0 15px;color:$black;}
	}

	.menu-item.wine-list{text-align:left;
		h4{margin-bottom:0;}
		p{font-style: italic;}
	}
	.menu-item.beer-list, .mi-cocktails .menu-item{text-align:left;}
	
	@media (max-width: 1023px){
		h6{font-size:15px;}
		.spec25 h4{font-size:20px;}
	}
}

